---
import LinkTag from "./LinkTag.astro";
const { href, class: className } = Astro.props;
---

<div class="text-center">
  <LinkTag href={href} button={true} class={className}>
    <slot />
  </LinkTag>
</div>
