---
const { label } = Astro.props;
---

<div
  class="collapse collapse-arrow bg-base-100 border border-neutral-500/20 rounded-md border-gray-250"
>
  <input type="checkbox" />
  <div class="collapse-title text-lg font-medium">
    {label}
  </div>
  <div class="collapse-content font-light">
    <slot />
  </div>
</div>
