---
import Section from "../../components/utils/Section.astro";
import Container from "../../components/utils/Container.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import ToolsPage from "../../components/pages/ToolsPage.astro";
const pageTitle = "Utilize our seismic functions";
---

<MainLayout pageTitle={pageTitle}>
  <Section>
    <Container>
      <ToolsPage />
    </Container>
  </Section>
</MainLayout>
