{% extends 'base.html' %}

{% block title %}
    Ascii to mseed
{% endblock %}



{% block content %}

    <div class="mb-5">

        <section id="title-section">
            <div class="bg-light fs-2 p-5">
                <div class="container-lg">
                    <p class="display-4 text-center mb-5">ASCII to MSEED</p>
                    <div>
                        <p class="text-center fs-3 text-muted">Convert raw ASCII data to seismic waveform binary data </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="description-section">
            <div class="container-lg  p-5 rounded fs-4">
                <p class="text-start">
                    Upload an MSEED file and compute the Fourier Spectra. You can choose to calculate it on the whole time series
                    or at a window with a configurable length. This window can be the signal area window and/or the noise area window. If you choose
                    to calculate both the singnal and noise area fourier spectra, its windows will have the same length. You can configure both the
                    length of the window, as well as the starting point (left side) of the signal window and the ending point (right side) of the noise
                    area window.
                </p>
            </div>
        </section>
        
        <section>
            <div class="container-lg fs-4">
                <form action="/upload-ascii-file" method="POST" enctype="multipart/form-data">
                    <fieldset class="border mb-4 p-4">
                        <legend class="text-center fs-2">File type options</legend>
                        <div class="row justify-content-start">
                            <div class="col-10">
                                <label for="upload-file" class="form-label">Upload an ASCII file</label>
                                <input class="form-control" type="file" name="file" id="upload-file" accept=".csv, .txt, .dat">
                            </div>
                        </div>
                        <div class="row justify-content-start my-4">
                            <div class="col-6 col-md-3">
                                <label for="delimiter-select" class="form-label">delimiter</label>
                                <select id="delimiter-select" name="delimiter" class="form-select" aria-label="Default select">
                                    <option value="comma" name="comma" selected>Comma (,)</option>
                                    <option value="tab" name="tab" >Tab (\t)</option>
                                    <option value="semicolon" name="semicolon">Semicolon (;)</option>
                                    <option value="pipe" name="pipe">Pipe (|)</option>
                                    <option value="colon" name="colon">Colon (:)</option>
                                    <option value="space" name="space">Space</option>
                                </select>
                            </div>
                            <div class="col-3 col-md-2">
                                <label for="skiprows-input" class="form-label">skiprows</label>
                                <input type="number" class="form-control" id="skiprows-input" name="skiprows-input" min="0" step="1" value="0">
                            </div>
                            <div class="col-5 col-md-4 col-lg-3">
                                <label for="number-of-rows-to-read-input" class="form-label"># rows to read</label>
                                <input type="number" class="form-control" id="number-of-rows-to-read-input" name="number-of-rows-to-read-input" min="0" step="1">
                            </div>
                        </div>

                        <div class="row justify-content-start">
                            <div class="col-5 col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="has-headers-checkbox" checked>
                                    <label class="form-check-label" for="has-headers-checkbox">
                                      has headers
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        
                    </fieldset>
                    <fieldset class="border mb-4 p-4">
                        <div class="row align-items-center justify-content-between gy-4">
                            <legend class="text-center fs-2">Seismic parameters options</legend>
                            <div class="col-md-3 col-6 text-center">
                                <label for="date">starting date:</label>
                            </div>

                            <div class="col-md-3  col-6 text-center">
                                <input type="datetime-local" class="form-control" id="date" name="datetime">
                            </div>

                            <div class="col-md-3 col-6 text-center">
                                <label for="station" class="d-inline">Station name:</label>
                            </div>

                            <div class="col-md-3 col-6 text-center">
                                <input type="text" class="form-control d-inline" id="station" name="station" placeholder="ej. SEIS">
                            </div>

                            <div class="col-md-3 col-12 text-start text-md-center">
                                <label for="fs">Input variable:</label>
                            </div>

                            
                            <div class="col-md-4 col-6 text-center">
        
                                <div style="width:100%" class="btn-group" role="group" aria-label="Basic radio toggle button group" id="parameter-div">
                                    <input type="radio" class="btn-check radio-param" name="parameter-radio" value="sampling_rate" id="fs" autocomplete="off" checked>
                                    <label class="btn btn-outline-primary" for="fs">sampling rate (Hz)</label>
                                
                                    <input type="radio" class="btn-check radio-param" name="parameter-radio" value="delta" id="dt" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="dt">Sample distance (sec)</label>

                                </div>
                            </div>

                            <div class="col-md-5 col-6 text-center">
                                <input type="number" class="form-control" style="width:100%" id="parameter" name="parameter-value">
                            </div>


                            <div class="col-md-3 col-12 text-start text-md-center">
                                <label for="fs">Components:</label>
                            </div>

                            <div class="col-md-3 col-4 text-center">
                                <input type="text" class="form-control component" id="compo1" name="compo1" placeholder="ej. E">
                            </div>

                            <div class="col-md-3 col-4 text-center">
                                <input type="text" class="form-control component" id="compo2" name="compo2" placeholder="ej. N">
                            </div>

                            <div class="col-md-3 col-4 text-center">
                                <input type="text" class="form-control component" id="compo3" name="compo3" placeholder="ej. Z">
                            </div>
                        </div>
                    </fieldset>


                    
                    <div class="col-12 mt-5 text-center">
                        <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
                    </div>
                </form>

                
                
            </div>
            
        </section>

        <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
        <script src="/static/js/ascii-to-mseed.js"></script>

        

{% endblock %}
