{% extends 'base.html' %}

{% block title %}
    Python obspy
{% endblock %}


{% block content %}



    <div>

        <section class="bg-light">
            <div class="container-lg py-3">
                <div class="row justify-content-center align-items-center  pt-5 mb-4 ">
                    <div class="col-lg-2 col-3 col-md-2">
                        <a href="https://docs.obspy.org/">
                            <img src="/static/img/obspy-images/obspy-image-no-bg.png" alt="mseed record ASCII file" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-9 col-6 col-md-9">
                        <p class="display-1">What is Obspy ?</p>
                    </div>
                        
                </div>

                <div class="fs-2 lead fst-italic text-muted">
                    <p class="text-center text-md-start">Obspy is a Python library for seismological data processing. It provides many seismological signal processing functions as well as date and time manipulation.</p>
                </div>


                

                <div class="text-center fs-5 my-5" id="obspy-pills-container">
                    <a href="https://docs.obspy.org/packages/autogen/obspy.core.stream.Stream.html"><span class="badge rounded-pill">Stream</span></a>
                    <a href="https://docs.obspy.org/packages/autogen/obspy.core.trace.Trace.html"><span class="badge rounded-pill">Trace</span></a>
                    <a href="https://docs.obspy.org/packages/autogen/obspy.core.stream.Stream.filter.html"><span class="badge rounded-pill">filter</span></a>
                    <a href="https://docs.obspy.org/packages/autogen/obspy.core.stream.read.html"><span class="badge rounded-pill">read</span></a>
                    <a href="https://docs.obspy.org/packages/autogen/obspy.core.trace.Stats.html"><span class="badge rounded-pill">stats</span></a>
                    <a href="https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html"><span class="badge rounded-pill">ndarray</span></a>
                    <a href="https://docs.obspy.org/packages/autogen/obspy.core.trace.Trace.trim.html#obspy.core.trace.Trace.trim"><span class="badge rounded-pill">trim</span></a>
                    <a href="https://stackoverflow.com/questions/33845604/what-does-dict-like-mean-in-python"><span class="badge rounded-pill">dict-like</span></a>
                </div>
            </div>
            
        </section>
                
        <section>

            <div class="container-lg py-3 lead fs-4">
                <p class="display-5 text-center my-5">Basic structure</p>

                <p>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspThe main structure of the Obspy library consists of the <code>Trace</code> and the <code>Stream</code> 
                    object. The <code>Stream</code> object contains one or more <code>Trace</code> objects. The <code>Trace</code> is in a sense, a 
                    seismic record. Every <code>Trace</code> has the <code>.data</code> property that we can get the data of the record in Numpy <code>ndarray</code> form and 
                    the <code>.stats</code> property that points to a <code>dict-like</code> object with name and value pairs of metadata information about the record 
                    (eg. station, channel, sampling rate). In addition, a <code>Trace</code> object contains several methods to manipulate the record. An 
                    example of these methods include the filtering of the data between a specific frequency range, using the <code>filter()</code> method and 
                    the splitting of the data array between a specific start and end time range using the <code>trim()</code> method. The date and time in Obspy
                    are both represented as Obspy <code>UTCDateTime</code> objects that is based on a high precision POSIX timestamp. It is used for handling and representing time and date information in the context of seismology and seismic data analysis.
                </p>

                
                <div class="row justify-content-center align-items-center text-center">
                    <div class="col-lg-8 col-md-10 col-12">
                        <figure>
                            <img src="/static/img/obspy-images/obspy-structure.png" alt="mseed record ASCII file" class="img-fluid my-5">
                            <figcaption class="lead fs-5 fst-italic">The structure of the obspy library. A Stream consists of Trace objects which have different methods (.taper(), .filter(), etc.) and attributes (.data, .stats, etc.)</figcaption>
                        </figure>
                    </div>
                </div>

                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThe obspy library utilizes miniSEED files in its core, which are binary files used to store time series seismic waveform data. It is a compact and 
                    efficient format that includes information about the station, location, timing, and the actual waveform data. MiniSEED files are widely
                     used in seismology and are the standard format for sharing and archiving seismic data. To read an <code>mseed</code> file using the Obspy library 
                     apply the <code>read()</code> method. To illustrate this, we implement an example of reading an <code>mseed</code> file, applying some processing to it
                     and saving the <code>Stream</code> to a location. </p>
                <p>First let's import the necessary libraries:</p>

                <div class="input-code-block">
                    <pre><code><span class="python-color1">from</span> <span class="python-color2">obspy.core</span> <span class="python-color1">import</span> read, UTCDatetime
                        <span class="python-color1">from</span> <span class="python-color2">obspy.core.stream</span> <span class="python-color1">import</span> Stream
                        <span class="python-color1">from</span> <span class="python-color2">obspy.core.trace</span> <span class="python-color1">import</span> Trace
                        <span class="python-color1">from</span> <span class="python-color2">obspy.core</span> <span class="python-color1">import</span> Stream
                        <span class="python-color1">import</span>  <span class="python-color2">matplotlib.pyplot</span> as <span class="python-color2">plt</span>
                        <span class="python-color1">import</span>  <span class="python-color2">numpy</span> as <span class="python-color2">np</span></code></pre>
                </div>

                <p>Next, import a seismogram into a  <code>Stream</code> object, using the <code>read()</code> method:</p>
                
                <div class="input-code-block">
                    <pre><code><span class="comment"># read a stream that contains just one trace</span>
                        singlechannel_stream = <span class="python-color1">read(</span>'https://examples.obspy.org/COP.BHZ.DK.2009.050.mseed'<span class="python-color1">)</span>
                        <span class="python-color1">print(</span>singlechannel_stream<span class="python-color1">)</span>
                        <span class="python-color1">print()</span>
                    </code></pre>
                </div>

                <div class="output-code-block">
                    <pre><code>1 Trace(s) in Stream:
                    DK.COP..BHZ | 2009-02-19T00:00:00.025100Z - 2009-02-19T23:59:59.975100Z | 20.0 Hz, 1728000 samples</code></pre>
                </div>

                <p>Then get the data and the metadata of the <code>Trace</code> using the <code>.data</code> and the <code>.stats</code> attributes respectively:</p>

                <div class="input-code-block">
                <pre><code><span class="comment"># print the data of the trace</span>
                    <span class="python-color1">print(</span>singlechannel_stream.<span class="python-color2">data</span><span class="python-color1">)</span>
                    <span class="python-color1">print()</span>
                    <span class="comment"># print its metadata</span>
                    <span class="python-color1">print(</span>singlechannel_stream.<span class="python-color2">stats</span><span class="python-color1">)</span>
                </code></pre>
                </div>

                <div class="output-code-block">
                    <pre><code>[-351 -316 -550 ...  -95  -58  -38] &ltclass 'numpy.ndarray'&gt
                        
                        network: DK
                        station: COP
                        location:
                        channel: BHZ
                        starttime: 2009-02-19T00:00:00.025100Z
                        endtime: 2009-02-19T23:59:59.975100Z
                        sampling-rate: 20.0
                        delta: 0.05
                        npts: 1728000
                        calib: 1.0
                        -format: MSEED
                        mseed: AttribDict({'dataquality': 'D', 'number-of-records': 552, 'encoding': 'STEIM2', 'byteorder': '>', 'record-length': 4096, 'filesize': 2260992})</code></pre>
                </div>


                <p>The  <code>starttime</code> and <code>endtime</code> metadata of the <code>Trace</code>, is a <code>UTCDateTime</code> object. You can perform addition, subtraction and extract multiple attributes from this object using the dot notation. Check the following examples:</p>

                <div class="input-code-block">
                    <pre><code><span class="comment"># create a UTCDateTime object</span>
                        dt = <span class="python-color1">UTCDateTime(</span>"2012-09-07T12:15:00"<span class="python-color1">)</span>
                        <span class="python-color1">print(</span>dt, <span class="python-color1">type(</span>dt<span class="python-color1">)</span><span class="python-color1">)</span>
                        <span class="comment"># add 20 seconds</span>
                        dt += 20
                        <span class="python-color1">print(</span>dt<span class="python-color1">)</span>
                        <span class="python-color1">print()</span>
                        <span class="comment"># get some datetime attributes</span>
                        <span class="python-color1">print(</span>"dt.year      -> ", dt.<span class="python-color2">year</span><span class="python-color1">)</span>
                        <span class="python-color1">print(</span>"dt.month     -> ", dt.<span class="python-color2">month</span><span class="python-color1">)</span>
                        <span class="python-color1">print(</span>"dt.day       -> ", dt.<span class="python-color2">day</span><span class="python-color1">)</span>
                        <span class="python-color1">print(</span>"dt.hour      -> ", dt.<span class="python-color2">hour</span><span class="python-color1">)</span>
                        <span class="python-color1">print(</span>"dt.minute    -> ", dt.<span class="python-color2">minute</span><span class="python-color1">)</span>
                        <span class="python-color1">print(</span>"dt.second    -> ", dt.<span class="python-color2">second</span><span class="python-color1">)</span>
                        <span class="python-color1">print(</span>"dt.timestamp -> ", dt.<span class="python-color2">timestamp</span><span class="python-color1">)</span>
                        <span class="python-color1">print(</span>"dt.weekday   -> ", dt.<span class="python-color2">weekday</span><span class="python-color1">)</span></code></pre>
                </div>


                <div class="output-code-block">
                    <pre><code>2012-09-07T12:15:00.000000Z &ltclass 'obspy.core.utcdatetime.UTCDateTime'>

                        2012-09-07T12:15:20.000000Z
    
                        dt.year      ->  2012
                        dt.month     ->  9
                        dt.day       ->  7
                        dt.hour      ->  12
                        dt.minute    ->  15
                        dt.second    ->  20
                        dt.timestamp ->  1347020120.0
                        dt.weekday   ->  4</code></pre>
                </div>
                

                <p>Last but not least, one can subtract <code>UTCDateTime</code> objects and get the difference of them in seconds:</p>

                <div class="input-code-block">
                    <pre><code><span class="comment"># create another UTCDateTime object</span>
                        dt2 = <span class="python-color1">UTCDateTime(</span>"2012-09-07T12:20:00"<span class="python-color1">)</span>
                        <span class="python-color1">print(</span>dt2<span class="python-color1">)</span>
                        <span class="python-color1">print()</span>
                        <span class="comment"># calculate the difference of the two UTCDateTime objects</span>
                        diff = dt2 - dt
                        <span class="python-color1">print(</span>diff<span class="python-color1">)</span></code></pre>
                </div>

                <div class="output-code-block">
                    <pre><code>2012-09-07T12:20:00.000000Z

                        280.0</code></pre>
                </div>
            </div>
        </section>

        <section>
            <div class="container-lg py-3 lead fs-4">

                <p class="display-5 text-center my-5">Generating Trace and Stream objects from data</p>

                <p>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspInstead of reading from a seismological file format, you can also create a <code>Trace</code> and/or a <code>stream</code> object using the <code>obspy.core.trace.Trace</code> and <code>obspy.core.stream.Stream</code> classes.
                    Let's remember again, that a <code>stream</code> consists of one or more than one traces. To generate a <code>trace</code> object, start by passing the record data values into the <code>data</code> parameter of <code>obspy.core.trace.Trace</code> as a numpy <code>ndarray</code>
                    and the metadata of the record into the <code>header</code> parameter as a Python <code>dict</code>. Repeat this for as many traces as you need to create and then pass all of them as a Python <code>list</code>, through the <code>obspy.core.stream.Stream</code> class,
                    to generate a <code>stream</code> object. Let's check an example of this.
                </p>

                <p>
                    Suppose we have a seismic record with 3 channels (E, N, Z), recorded in LEF2 station in a text file. Its metadata are located in the first rows of the file
                    and the data of each component, after 9 lines of metadata. We are going to read this file and create a <code>stream</code> object with 3 traces.
                </p>

                <div class="row text-center justify-content-center align-items-center">
                    <div class="col-lg-8 col-md-10 col-12">
                        <figure>
                            <img src="/static/img/obspy-images/record-txt-file.png" alt="mseed record ASCII file" class="img-fluid my-5">
                            <figcaption class="lead fs-5 fst-italic">Record data in raw ASCII format. The first lines contain the record metadata and the rest of the lines the acceleration data of the three components</figcaption>
                        </figure>
                        
                    </div>
                </div>

                <p>
                    First we read the file and save its metadata in a dictionary form and its data into a numpy <code>ndarray</code> form:
                </p>


                <div class="input-code-block">
                    <pre><code><span class="comment"># use the Python open method to open the file and read its metadata</span>
                        <span class="python-color2">with</span> <span class="python-color1">open</span>('20140207-085940-LEF2-data.txt') <span class="python-color2">as</span> fr:
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="comment"># skip the first line by reading it</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbspfr.<span class="python-color1">readline()</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="comment"># read the station name</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbspstation = fr.<span class="python-color1">readline()</span>.<span class="python-color1">split(</span>':'<span class="python-color1">)</span><span class="python-color2">[</span>1<span class="python-color2">]</span>.<span class="python-color1">strip()</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="comment"># read the starting datetime of the record</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbspdt_start = fr.<span class="python-color1">readline()</span>.<span class="python-color1">split(</span>':', 1<span class="python-color1">)</span><span class="python-color2">[</span>1<span class="python-color2">]</span>.<span class="python-color1">strip()</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="comment"># read the sampling frequency in Hz</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbspfs =  fr.<span class="python-color1">readline()</span>.<span class="python-color1">split(</span>':'<span class="python-color1">)</span><span class="python-color2">[</span>1<span class="python-color2">]</span>.<span class="python-color1">strip(</span>' Hz\n'<span class="python-color1">)</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="comment"># read the number of sample points</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbspnpts = fr.<span class="python-color1">readline()</span>.<span class="python-color1">split(</span>':'<span class="python-color1">)</span><span class="python-color2">[</span>1<span class="python-color2">]</span>.<span class="python-color1">strip()</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="comment"># skip 2 lines</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbspfr.<span class="python-color1">readline()</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbspfr.<span class="python-color1">readline()</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="comment"># read the components</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbspcompos = fr.<span class="python-color1">readline()</span>.<span class="python-color1">split(</span>':'<span class="python-color1">)</span><span class="python-color2">[</span>1<span class="python-color2">]</span>.<span class="python-color1">split()</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="comment"># show all the parameters that we read from the header of the file</span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="python-color1">print(</span>station, dt_start, fs, npts, compos<span class="python-color1">)</span></code></pre>
                </div>


                <div class="output-code-block">
                    <pre><code>LEF2 2014-02-07T08:59:40.000000Z 100.0 18100 ['E', 'N', 'Z']</code></pre>
                </div>

                <p>
                    Before we add the metadata into the dictionary, we convert the number of points (<code>npts</code>) into an <code>int</code> datatype, the
                    sampling frequency (<code>fs</code>) into a <code>float</code> datatype and the start time of the record (<code>starttime</code>) into a <code>UTCDateTime</code> object.
                    Also it is important for the keys of the dictionary that we will create, to be one of the options provided in the <a href="https://docs.obspy.org/packages/autogen/obspy.core.trace.Stats.html"><code>obspy.core.trace.Stats</code> </a>
                </p>

                <p>
                    Then we use the python Pandas library to read the data of the record:
                </p>

                <div class="input-code-block">
                    <pre><code><span class="comment"># use the Pandas read-csv method to read the data from text file</span>
                        df_data = <span class="python-color2">pd</span>.<span class="python-color1">read_csv(</span>'20140207-085940-LEF2-data.txt', <span class="python-color2">skiprows</span>=10, <span class="python-color2">sep</span>='\s+',  <span class="python-color2">header</span>=None<span class="python-color1">)</span>
                        <span class="comment"># assign the previous components list into the columns</span>
                        df_data<span class="python-color2">.columns</span> = compos
                        <span class="python-color1">print(</span>df_data<span class="python-color1">)</span></code></pre>
                </div>

                <div class="output-code-block">
                    <pre><code> 0      0.001130 -0.001022 -0.000044
                        1     -0.001382  0.001791 -0.001298
                        2      0.001758 -0.000709 -0.001298
                        3      0.002072  0.000853 -0.006627
                        4      0.000188 -0.001022 -0.007254
                        ...         ...       ...       ...
                        18095 -0.003894  0.000853  0.002464
                        18096  0.001444  0.001478  0.006853
                        18097  0.000816  0.001791  0.008420
                        18098 -0.000754  0.002416  0.005286
                        18099  0.000816  0.001478  0.001210
                        
                        [18100 rows x 3 columns]</code></pre>
                </div>

                <p>
                    At this time we have the metadata and the data of the traces. Using these two parameters, we can create the <code>Trace</code> objects. To do this, loop trough the components, create a header dictionary file for each <code>Trace</code> and add its data:
                </p>

                
                
                <div class="input-code-block">
                    <pre><code><span class="comment"># create an empty list to append each trace object</span>
                        lt_traces = <span class="python-color2">[</span><span class="python-color2">]</span>
                        <span class="comment"># then create a trace for each component</span>
                        <span class="python-color2">for</span> compo <span class="python-color2">in</span> compos:
                        <span class="comment indent"># create a dictionary object and add there the metadata</span>
                        <span class="indent">dict_header = {}</span>
                        <span class="indent">dict_header<span class="python-color2">[</span>"station"<span class="python-color2">]</span> = station</span>
                        <span class="indent">dict_header<span class="python-color2">[</span>"npts"<span class="python-color2">]</span> = <span class="python-color1">int(</span>npts<span class="python-color1">)</span></span>
                        <span class="indent">dict_header<span class="python-color2">[</span>"sampling_rate"<span class="python-color2">]</span> = float(fs)</span>
                        <span class="indent">dict_header<span class="python-color2">[</span>"starttime"<span class="python-color2">]</span> = <span class="python-color1">UTCDateTime(</span>dt_start<span class="python-color1">)</span></span>
                        <span class="indent">dict_header<span class="python-color2">[</span>"channel"<span class="python-color2">]</span> = compo</span>
                        <span class="comment"># create the trace object</span>
                        tr = <span class="python-color1">Trace(</span><span class="python-color2">data</span>=df_data<span class="python-color2">[</span>compo<span class="python-color2">]</span>.<span class="python-color1">to_numpy()</span>, <span class="python-color2">header</span>=dict_header<span class="python-color1">)</span>
                        <span class="comment"># append the trace into the traces list</span>
                        lt_traces.<span class="python-color1">append(</span>tr<span class="python-color1">)</span>
                        <span class="python-color1">print(</span>lt_traces<span class="python-color1">)</span></code></pre>
                </div>

                <div class="output-code-block">
                    <pre><code>[
                        &ltobspy.core.trace.Trace object at 0x0000020E0EFB25F0>, 
                        &ltobspy.core.trace.Trace object at 0x0000020E0F501FC0>, 
                        &ltobspy.core.trace.Trace object at 0x0000020E0F502890>
                    ]</code></pre>
                </div>



                <p>Finally, crete the <code>Stream</code> object, from the list of the traces:</p>


                <div class="input-code-block">
                    <pre><code><span class="comment"># create the stream by inserting the list of traces into the obspy.core.stream.Stream class</span>
                    st = <span class="python-color1">Stream(</span>lt_traces<span class="python-color1">)</span>
                    <span class="python-color1">print(</span>st<span class="python-color1">)</span></code></pre>
                </div>

                <div class="output-code-block">
                    <pre><code>3 Trace(s) in Stream:
                        .LEF2..E | 2014-02-07T08:59:40.000000Z - 2014-02-07T09:02:40.990000Z | 100.0 Hz, 18100 samples
                        .LEF2..N | 2014-02-07T08:59:40.000000Z - 2014-02-07T09:02:40.990000Z | 100.0 Hz, 18100 samples
                        .LEF2..Z | 2014-02-07T08:59:40.000000Z - 2014-02-07T09:02:40.990000Z | 100.0 Hz, 18100 samples</code></pre>
                </div>



                <p>You can optionally save it using the <code>stream.write('url/to/write/to')</code>:</p>

                <div class="input-code-block">
                    <pre><code><span class="comment"># optionally, save the stream into the current working directory</span>
                    st.<span class="python-color1">write(</span>'mystream.mseed'<span class="python-color1">)</span></code></pre>
                </div>


                <p>You can also plot the traces using the <code>stream.plot()</code> method:</p>

                <div class="input-code-block">
                    <pre><code>st.<span class="python-color1">plot()</span></code></pre>
                </div>


                <div class="row text-center justify-content-center align-items-center">
                    <div class="col-lg-8 col-md-10 col-12">
                        <figure>
                            <img src="/static/img/obspy-images/stream-plot.png" alt="mseed record ASCII file" class="img-fluid my-5">
                            <figcaption class="lead fs-5 fst-italic">Plot the records of the stream using the plot() function of the stream object</figcaption>
                        </figure>
                    </div>
                </div>

                <p>Check <a href="https://docs.obspy.org/packages/spanutogen/obspy.core.stream.Stream.plot.html#obspy.core.stream.Stream.plot" class="link-primary">here</a> the different options to customize the plot.</p>
            </div>
        </section>

    </div>

{% endblock %}
