{% extends 'base.html' %}

{% block title %}
    Arrival picking
{% endblock %}




{% block content %}

  
    <section id="title-section" class="mb-5">
        <div class="bg-light fs-2 p-5">
            <div class="container-lg">
                <p class="display-4 text-center mb-5">Arrivals selection</p>
                <div>
                    <p class="text-center fs-3 text-muted">Select the P & S wave arrival times</p>
                </div>
            </div>
        </div>
    </section>

    <section id="explanation-section">
        <div class="container-lg fs-4">
            <p>
                Start by uploading an <kbd>mseed</kbd> file. Select the <kbd>P</kbd> or <kbd>S</kbd> wave option and click anywhere on the waveforms to
                pick the arrival time of the selected wave. Use the <kbd>del P</kbd> and <kbd>del S</kbd> buttons to remove the applied arrival.
                Fill free to use the filter dropdown 
                to apply a filter to the waveforms, to facilite your picking. Using the entry boxes on the bottom 
                you can manually insert a filter in addition to the pre-defined ones in the dropdown. If you fill in a value just for the left
                entry box, a highpass filter is going to be applied with frequency, the one you specified.
                If you insert a value just for the right entry box, a lowpass
                filter is going to be applied with frequency, the one you specified.
                If both are filled, a bandpass filter is applied. Use the <kbd>&ltenter&gt</kbd>
                key to apply the manual filters.
            </p>
        </div>
    </section>


    <section id="graph-section" style="position: relative;">
        <div class="container-lg">
            <div class="row bg-dark2 p-3 mt-5">
                <div class="col">
                    <button class="btn btn-outline-info me-3" id="upload-file-button">Upload</button>
                    <input type="file" id="upload-file-input" style="display:none;">
                    <button class="btn btn-outline-success" id="save-arrivals-button" disabled>Save arrivals</button>
                </div>
            </div>
            <div class="row bg-dark p-3 align-items-center">
                <div class="col-3 text-center text-end">
                    <label for="p-wave-radio" class="text-secondary fs-3">P</label>
                    <input type="radio" id="p-wave-radio" class="me-2" name="ps-wave-radio" checked disabled>
                    <label for="s-wave-radio" class="text-secondary fs-3">S</label>
                    <input type="radio" id="s-wave-radio" name="ps-wave-radio" disabled>
                </div>
                <div class="col-4 text-start">
                    <button class="btn btn-danger" id="remove-p-wave-button">del P</button>
                    <button class="btn btn-danger"  id="remove-s-wave-button">del S</button>
                </div>
                <div class="col-5 col-sm-4 col-md-3 col-lg-3 col-xl-2 text-center">
                    <select class="form-select" aria-label="filter-dropdown" id="filters-dropdown" disabled>
                        <option disabled>--select a filter--</option>
                        <option selected>initial</option>
                        <option>1-2</option>
                        <option>1-3</option>
                        <option>1-5</option>
                        <option>1-10</option>
                        <option>0.1-10</option>
                    </select>
                </div>
            </div>

            <p class="d-none" id="record-name-paragraph"></p>
            
            <div class="row bg-secondary border-start border-end border-dark border-5">
                <div class="col-12 text-center ms-0 ps-0" id="picking-graph-container">
        
                </div>
            </div>
            <div class="row bg-dark mb-5">
                <div class="col-12 text-center text-md-end p-3">
                    <input class="rounded" type="number" id="left-filter-input" placeholder="eg. 0.1"  disabled>
                    <input class="rounded" type="number" id="right-filter-input" placeholder="eg. 1"  disabled>
                </div>
            </div>
        
        </div>
        <div id="spinner-div" style="display:none; position: absolute; top: 50%; left: 50%;">
            <div class="text-center">
                <div class="spinner-border my-3" role="status" >
                <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modalErrorMessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" id="modal-header">
              <h1 class="modal-title fs-5 text-dark" id="modal-title">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modal-message" class="fs-5"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#modalErrorMessage" id="model-button-triger">
        modal
    </button>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/pick-arrivals.js"></script>
 


        

{% endblock %}
