{% extends 'base.html' %}

{% block title %}
    Signal processing
{% endblock %}




{% block content %}



    <section id="title-section" class="mb-5">
        <div class="bg-light fs-2 p-5">
            <div class="container-lg">
                <p class="display-4 text-center mb-5">Signal processing</p>
                <div>
                    <p class="text-center fs-3 text-muted">Upload a seismic record to process it using the available tools</p>
                </div>
            </div>
        </div>
    </section>

    <section id="explanation-section">
        <div class="container-lg fs-4">
            <p>
                Start by uploading an <kbd>mseed</kbd> file. Select the <kbd>P</kbd> or <kbd>S</kbd> wave option and click anywhere on the waveforms to
                pick the arrival time of the selected wave. Use the <kbd>del P</kbd> and <kbd>del S</kbd> buttons to remove the applied arrival.
                Fill free to use the filter dropdown 
                to apply a filter to the waveforms, to facilite your picking. Using the entry boxes on the bottom 
                you can manually insert a filter in addition to the pre-defined ones in the dropdown. If you fill in a value just for the left
                entry box, a highpass filter is going to be applied with frequency, the one you specified.
                If you insert a value just for the right entry box, a lowpass
                filter is going to be applied with frequency, the one you specified.
                If both are filled, a bandpass filter is applied. Use the <kbd>&ltenter&gt</kbd>
                key to apply the manual filters.
            </p>
        </div>
    </section>


   
    <section>  
        <div class="container-lg">
            <div class="px-4 py-2 border-bottom border-dark mb-4 mt-5">
                <button class="btn btn-light" id="upload-file-button">
                    <img src="{{ url_for('static', filename='img/signal-processing-images/upload-file.png') }}" class="img-fluid signal-processing-icon">
                    Upload
                </button>
                <input type="file" id="upload-file-input" value="upload-file-input" name="upload-file-input" style="display: none;">
            </div>
        </div>
    </section>

    <section>
       
        <div class="container-lg" id="signal-processing-option-menu">
            <div class="bg-info rounded py-2 px-3">
                <div class="row justify-content-center align-items-center text-center" id="option-row">
                    <div class="col-4  rounded relative-pos">
                        <div class="d-lg-none d-block">
                            <button class="btn btn-info dropdown-toggle" id="detrend-expanding-button-main" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/static/img/signal-processing-images/detrend.png" class="img-fluid signal-processing-icon">
                                <p class="text-dark">Detrend</p>
                            </button>
                            <ul class="dropdown-menu">
                                <div class="p-3 text-center">
                                    <form  action="{{ url_for('BP_signal_processing.process_signal_detrend') }}" method="GET" id="detrend-form-element-expanding">
                                        <div class="row justify-content-center text-center">
                                            <div class="col-12">
                                                <p class="text-center  mb-3  fw-bold">Detrend</p>
                                                <hr>
                                                <label for="detrend-type-select-expanding" class="form-label">type</label>
                                                <select class="form-select" name="detrend-type-select" aria-label="Default select example" id="detrend-type-select-expanding">
                                                    <option value="simple" name="simple">simple</option>
                                                    <option value="linear" name="linear">linear</option>
                                                    <option value="constant" name="constant">constant</option>
                                                    <option value="polynomial" name="polynomial"">polynomial</option>
                                                    <option value="spline" name="spline">spline</option>
                                                </select>
                                                <button class="btn btn-primary mt-3" id="detrend-apply-button-expanding">apply</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </ul>
                        </div>
                        <div class="d-none d-lg-block">
                            <div class="row align-items-center">
                                <div class="col">
                                    <img src="/static/img/signal-processing-images/detrend.png" class="img-fluid my-0 py-0 signal-processing-icon">
                                </div>
                                <div class="col">
                                    <p class="text-center  my-0 py-0 fw-bold">Detrend</p>
                                </div>
                            </div>
                            <hr class="mt-1 mb-1">
                            <div class="row justify-content-center align-items-start text-center d-none d-lg-block">
                                <div class="col-4">
                                    <label for="detrend-type-select" class="form-label">type</label>
                                    <select class="form-select form-element" name="detrend-type-select" aria-label="Default select example" id="detrend-type-select">
                                        <option value="simple" name="simple">simple</option>
                                        <option value="linear" name="linear">linear</option>
                                        <option value="constant" name="constant">constant</option>
                                        <option value="polynomial" name="polynomial"">polynomial</option>
                                        <option value="spline" name="spline">spline</option>
                                    </select>
                                </div>
                                <div class="col-4">

                                </div>
                                <div class="col-4">

                                </div>
                            </div>
                            <button class="btn btn-dark mt-3 absolute-pos" id="detrend-apply-button">apply</button>
                        </div>
                    </div>
                    <div class="col-4  border-start border-light border-1 relative-pos">
                        <div class="d-lg-none d-block">
                            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/static/img/signal-processing-images/taper.png" class="img-fluid signal-processing-icon">
                                <p class=" text-dark">Taper</p>
                            </button>
                            <ul class="dropdown-menu">
                                <div class="p-3 text-center">
                                    <div class="row justify-content-center text-center">
                                        <div class="col-12">
                                            <p class="text-center  mb-3  fw-bold">Taper</p>
                                            <hr>
                                            <label for="taper-type-select-expanding" class="form-label">type</label>
                                            <select class="form-select" aria-label="Default select example" name="taper-type-select" id="taper-type-select-expanding">
                                                <option value="cosine"           name="cosine"          >cosine</option>
                                                <option value="barthann"         name="barthann"        >barthann</option>
                                                <option value="bartlett"         name="bartlett"        >bartlett</option>
                                                <option value="blackman"         name="blackman"        >blackman</option>
                                                <option value="blackmanharris"   name="blackmanharris"  >blackmanharris</option>
                                                <option value="bohman"           name="bohman"          >bohman</option>
                                                <option value="boxcar"           name="boxcar"          >boxcar</option>
                                                <option value="chebwin"          name="chebwin"         >chebwin</option>
                                                <option value="flattop"          name="flattop"         >flattop</option>
                                                <option value="gaussian"         name="gaussian"        >gaussian</option>
                                                <option value="general_gaussian" name="general_gaussian">general_gaussian</option>
                                                <option value="hamming"          name="hamming"         >hamming</option>
                                                <option value="hann"             name="hann"            >hann</option>
                                                <option value="kaiser"           name="kaiser"          >kaiser</option>
                                                <option value="hann"             name="hann"            >hann</option>
                                                <option value="nuttall"          name="nuttall"         >nuttall</option>
                                                <option value="parzen"           name="parzen"          >parzen</option>
                                                <option value="slepian"          name="slepian"         >slepian</option>
                                                <option value="triang"           name="triang"          >triang</option>
                                            </select>
                                            <label for="taper-side-select-expanding" class="form-label">side</label>
                                            <select class="form-select" aria-label="Default select example" name="taper-side-select" id="taper-side-select-expanding">
                                                <option value="left"             name="left"           >left</option>
                                                <option value="right"            name="right"          >right</option>
                                                <option value="both"             name="both"           >both</option>
                                            </select>
                                            <label for="taper-length-input-expanding" class="form-label">length %</label>
                                            <input id="taper-length-input-expanding" name="taper-length-input" class="form-control form-control-sm"  type="number" min="0" max="50" step="1" value="30"> 
                                            <button class="btn btn-primary  mt-3 " id="taper-apply-button-expanding">apply</button>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="d-none d-lg-block">
                            <div class="row align-items-center">
                                <div class="col">
                                    <img src="/static/img/signal-processing-images/taper.png" class="img-fluid my-0 py-0 signal-processing-icon">
                                </div>
                                <div class="col">
                                    <p class="text-center  my-0 py-0 fw-bold">Taper</p>
                                </div>
                            </div>
                            <hr class="mt-1 mb-1">
                            <div class="row justify-content-center align-items-start text-center">
                                <div class="col-4">
                                    <label for="taper-type-select" class="form-label">type</label>
                                    <select class="form-select form-element" name="taper-type-select" aria-label="Default select example" id="taper-type-select">
                                        <option value="cosine"           name="cosine"          >cosine</option>
                                        <option value="barthann"         name="barthann"        >barthann</option>
                                        <option value="bartlett"         name="bartlett"        >bartlett</option>
                                        <option value="blackman"         name="blackman"        >blackman</option>
                                        <option value="blackmanharris"   name="blackmanharris"  >blackmanharris</option>
                                        <option value="bohman"           name="bohman"          >bohman</option>
                                        <option value="boxcar"           name="boxcar"          >boxcar</option>
                                        <option value="chebwin"          name="chebwin"         >chebwin</option>
                                        <option value="flattop"          name="flattop"         >flattop</option>
                                        <option value="gaussian"         name="gaussian"        >gaussian</option>
                                        <option value="general_gaussian" name="general_gaussian">general_gaussian</option>
                                        <option value="hamming"          name="hamming"         >hamming</option>
                                        <option value="hann"             name="hann"            >hann</option>
                                        <option value="kaiser"           name="kaiser"          >kaiser</option>
                                        <option value="hann"             name="hann"            >hann</option>
                                        <option value="nuttall"          name="nuttall"         >nuttall</option>
                                        <option value="parzen"           name="parzen"          >parzen</option>
                                        <option value="slepian"          name="slepian"         >slepian</option>
                                        <option value="triang"           name="triang"          >triang</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="taper-side-select" class="form-label">side</label>
                                    <select class="form-select form-element" aria-label="Default select example" name="taper-side-select" id="taper-side-select">
                                        <option value="left"             name="left"           >left</option>
                                        <option value="right"            name="right"          >right</option>
                                        <option value="both"             name="both"           >both</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="taper-length-input" class="form-label">length %</label>
                                    <input id="taper-length-input" name="taper-length-input" class="form-control form-control-sm form-element"  type="number" min="0" max="50" step="1" value="30"> 
                                </div>
                                
                            </div>
                            <button class="btn btn-dark mt-3 absolute-pos" id="taper-apply-button">apply</button>
                         
                        </div>
                        
                    </div>
                    
                    <div class="col-4 border-start border-light border-1  relative-pos">
                        <div class="d-lg-none d-block">
                            <button class="btn btn-info dropdown-toggle" id="trim-expanding-button-main" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/static/img/signal-processing-images/trim.png" class="img-fluid signal-processing-icon">
                                <p class=" text-dark">Trim</p>
                            </button>
                            <ul class="dropdown-menu">
                                <div class="p-3 text-center">
                                    <div class="row justify-content-center text-center">
                                        <div class="col-12">
                                            <p class="text-center  mb-3  fw-bold">Trim</p>
                                            <hr>
                                            <label for="trim-left-side-input-expanding" class="form-label">left side</label>
                                            <input id="trim-left-side-input-expanding" name="trim-left-side-input" class="form-control form-control-sm"  type="number" min="0"  step="1" value="5">
                                            <label for="trim-right-side-input-expanding" class="form-label">right side</label>
                                            <input id="trim-right-side-input-expanding" name="trim-right-side-input" class="form-control form-control-sm"  type="number" min="0"  step="1" value="10">
                                            <button class="btn btn-primary mt-3" id="trim-apply-button-expanding">apply</button>
                                        </div>
                                    </div>
                                
                                </div>
                            </ul>
                        </div>
                        
                        <div class="d-none d-lg-block">
                            
                            <div class="row align-items-center">
                                <div class="col">
                                    <img src="/static/img/signal-processing-images/trim.png" class="img-fluid my-0 py-0 signal-processing-icon">
                                </div>
                                <div class="col">
                                    <p class="text-center  my-0 py-0 fw-bold">Trim</p>
                                </div>
                            </div>
                            <hr class="mt-1 mb-1">
                            <div class="row justify-content-center align-items-start text-center">
                                <div class="col-4">
                                    <label for="trim-left-side-input" class="form-label">left side</label>
                                    <input id="trim-left-side-input" name="trim-left-side-input" class="form-control form-control-sm form-element"  type="number" min="0"  step="1" value="5"> 
                                </div>
                                <div class="col-4">
                                    <label for="trim-right-side-input" class="form-label">right side</label>
                                    <input id="trim-right-side-input" name="trim-right-side-input" class="form-control form-control-sm form-element"  type="number" min="0"  step="1" value="10"> 
                                </div>
                                <div class="col-4">
                                    
                                </div>
                            </div>
                            <button class="btn btn-dark mt-3 absolute-pos" id="trim-apply-button">apply</button>
                         
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
  
    </section> 



    <section>
        <div class="container-lg mb-5">

            <div class="bg-dark">
                <div class="row gx-2 justify-content-center" id="processing-pills-container">
        
                </div> 

                <div id="spinner-div">
                    <div class="text-center">
                        <div class="spinner-border my-3  bg-warning" role="status" >
                        <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center"  id="signal-processing-start-by-upload-container">
                    <div class="col text-center text-light">
                        <p class="fs-3">Start by <button class="btn btn-outline-info" id="upload-another-file-button">uploading</button> an mseed file</p>
                        <input type="file" id="upload-another-file-input" value="upload-another-file-input" name="upload-file-input" style="display: none;">
                    </div>
                </div>
          
                <div id="time-series-graph">
                    
                </div>
            </div>
        </div>
        
        
    </section>


        
        



    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/signal-processing.js"></script>

{% endblock %}
