{% extends 'base-auth.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <div class="fs-6">
        <form id="myForm" action="{{ url_for('auth.login') }}" method="POST" novalidate> 

            <h1 class="display-6 text-center mb-5">Login</h1>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-9 col-8">
                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label(class="form-control-label") }}
                            {% if field.errors %}
                                {{ field(class="form-control form-control-md is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ field(class="form-control form-control-md") }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row justify-content-center align-items-center mt-2">
                <div class="col-6 col-lg-5 text-center">
                    <div class="form-check">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto text-center">
                                <input class="form-check-input" style="margin: 0px 0px;padding: 0px 0px;" type="checkbox" name="remember-me" id="remember-me">
                            </div>
                            <div class="col-auto text-center">
                                <label class="form-check-label" for="remember-me">
                                    remember me
                                </label>
                            </div>
                        </div>
                            
                    </div>
                </div>
                <div class="col-6 col-lg-5  text-center">
                    <a href="{{ url_for('BP_forgotpassword.forgot_password_template') }}" class="link-primary">forgot password</a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary mt-5 px-5 rounded-pill">Login</button>
                </div>
            </div>

            <p class="text-muted text-center mt-5">Need an account ?<a href="{{ url_for('auth.register') }}" class="ps-2 link-primary">Sign-up</a></p>
            
        </form>
    </div>
{% endblock %}       