{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section>
    <div id="main-index-background-image-div"
        class="d-flex  flex-column  align-items-start align-items-center justify-content-center vh-100">
        <div class="text-center p-4">
            <h2 class="text-center text-light fw-bold display-1 mb-5">
                A Journey Into Seismology
            </h2>
            <h2 class="text-center text-light display-5 my-5">
                Discover Seismic Concepts, Interact with Tools, and Deepen Your Understanding
            </h2>
        </div>
    </div>
</section>

<section class="bg-light2 py-5 my-0">
    <div class="container-lg py-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-4 col-sm-3 text-center">
                <img src="/static/img/book-read.svg" class="img-fluid d-block d-md-none" alt="read topic icon">
            </div>
        </div>
        <div class="row justify-content-center align-items-center mb-5">
            <div class="col-md-3 col-lg-3 col-xl-2">
                <img src="/static/img/book-read.svg" class="img-fluid d-none d-md-block" alt="read topic icon">
            </div>
            <div class="col-8 col-md-5">
                <p class="text-dark fs-4 text-center text-md-start">Get started with the <a
                        href="{{ url_for('BP_search_topics.filter_topics', topictype='articles') }}"
                        class="link-info">seismic articles</a> to learn more about the science of Seismology</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-4 col-sm-3 text-center">
                <img src="/static/img/interactive.svg" class="img-fluid d-block d-md-none" alt="read topic icon">
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-8 col-md-5">
                <p class="text-dark fs-4 text-center text-md-start">Try the <a
                        href="{{ url_for('BP_search_topics.filter_topics', topictype='interactive tools') }}"
                        class="link-info">interactive tools</a> to process and analyze real seismological data</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2">
                <img src="/static/img/interactive.svg" class="img-fluid d-none d-md-block"
                    alt="interactive topics icon">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <p class="text-center text-dark fs-4 mt-5">or <a
                        href="{{ url_for('BP_search_topics.filter_topics', topictype='all topics') }}"
                        class="link-info">check</a> all the topics...</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-lg py-5">
        <div class="row justify-content-center my-2">
            <div class="text-center">
                <img style="width:80px;" src="{{ url_for('static', filename='img/obspy-image.png') }}" alt="obspy image"
                    class="img-fluid">
            </div>
        </div>
        <div class="row justify-content-center my-2">
            <div class="col-12 col-md-10 col-lg-8">
                <p class="text-center display-4 fw-bold">Python Obspy library</p>
            </div>
        </div>
        <div class="row justify-content-center my-2">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <p class="text-center text-muted fs-4">
                    Process seismic data using the various Obspy functions, manipulate date and time and plot earthquake
                    recordings
                </p>
            </div>
        </div>
        <div class="row justify-content-center mb-4 mt-2">
            <div class="col-10 text-center">
                <a class="btn btn-primary" href="{{ url_for('show_topic', topic_tmp_name='obspy') }}">Go to the page</a>
            </div>
        </div>
        <div class="row justify-content-center my-2">
            <div class="col-8 col-sm-6 col-md-6 col-lg-5 col-xl-4 text-center">
                <img src="{{ url_for('static', filename='img/obspy-script-example.gif') }}" alt="obspy example code"
                    class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="py-5 bg-light position-relative">
        <div class="container-lg">
            <h1 class="display-4 text-muted text-center fw-semibold">Explore various Seismic Articles</h1>
            <hr class="mt-2 mb-5">
            <div class="row justify-content-center align-items-center gy-3">
                <div class="col-auto text-center">
                    <div class="card index-article-card shadow-lg mx-auto rounded" style="width: 25rem; height: 450px;">
                        <img src="/static/img/site-effect-animation.gif" alt="Site effect"
                            class="img-fluid card-img-top" id="site-effect-animation">
                        <div class="card-body bg-very-light-yellow2">
                            <h5 class="card-title fw-bold fs-4">Seismic Site Effect</h5>
                            <hr class="w-75 border-top border-2 mx-auto border-dark">
                            <p class="card-text text-muted fs-6  mx-0 my-0">Influence of the underground Geology at the
                                incoming ground motion</p>
                            <a href="{{ url_for('show_topic', topic_tmp_name='site-effect') }}"
                                class="btn btn-dark position-absolute bottom-0 start-50 translate-middle mb-4">Go to the
                                page</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto text-center">
                    <div class="card index-article-card shadow-lg mx-auto rounded" style="width: 25rem; height: 450px;">
                        <img src="/static/img/tectonic-plates-earthquakes.gif" alt="elastic rebound theory"
                            class="img-fluid card-img-top" id="fault-animation">
                        <div class="card-body bg-very-light-yellow2">
                            <h5 class="card-title fw-bold fs-4">Introduction To Seismology</h5>
                            <hr class="w-75 border-top border-2 mx-auto border-dark">
                            <p class="card-text text-muted fs-6 mx-0 my-0">Introduce yourself to different seismological
                                concepts about earthquakes</p>
                            <a href="{{ url_for('show_topic', topic_tmp_name='seismology-intro') }}"
                                class="btn btn-dark position-absolute bottom-0 start-50 translate-middle mb-4">Go to the
                                page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark py-5" id="interactive-tools-video">
    <div class="container-lg">
        <h2 class="display-4 text-muted text-center mb-5 fw-semibold">Try the interactive tools</h2>
        <div class="row justify-content-center my-5 gy-2 text-center">
            <div class="col-12 col-md-auto">
                <a class="badge bg-secondary text-dark text-decoration-none index-interactive-tools-badge fs-6"
                    href="{{ url_for('show_topic', topic_tmp_name='fourier') }}">Fourier spectra</a>
            </div>
            <div class="col-12 col-md-auto">
                <a class="badge bg-danger text-dark text-decoration-none index-interactive-tools-badge fs-6"
                    href="{{ url_for('show_topic', topic_tmp_name='signal-processing') }}">Signal processing</a>
            </div>
            <div class="col-12 col-md-auto">
                <a class="badge bg-success text-dark text-decoration-none index-interactive-tools-badge fs-6"
                    href="{{ url_for('show_topic', topic_tmp_name='pick-arrivals') }}">Arrival picking</a>
            </div>
            <div class="col-12 col-md-auto">
                <a class="badge bg-warning text-dark text-decoration-none index-interactive-tools-badge fs-6"
                    href="{{ url_for('show_topic', topic_tmp_name='file-to-mseed') }}">file to mseed</a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center gy-3">
            <div class="col-9 col-sm-8 col-md-5 text-center text-md-start">
                <ul class="list-group list-group-flush rounded fs-5">
                    <li class="list-group-item  bg-info" id="trim-hover-li">Trim the waveform</li>
                    <li class="list-group-item  bg-info" id="pick-hover-li">Pick the arrivals</li>
                    <li class="list-group-item  bg-info" id="detrend-hover-li">Detrend the waveform</li>
                    <li class="list-group-item  bg-info" id="taper-hover-li">Apply taper techniques</li>
                    <li class="list-group-item  bg-info" id="fourier-hover-li">Compute the Fourier Spectra</li>
                </ul>
            </div>
            <div class="col-md-1 col-12 d-none d-md-block">
                <img alt="a camera icon" src="{{ url_for('static', filename='img/camera-reels.png') }}"
                    class="img-fluid">
            </div>

            <div class="col-md-6 col-12">
                <img class="img-fluid rounded" id="image-hover" src="/static/img/trim-gif.gif"
                    alt="white image placeholder to show the gif images">
            </div>
        </div>
    </div>
</section>






<section>
    <div class="container-lg py-5">
        <div class="row d-block d-lg-none justify-content-center my-4">
            <div class="col text-center">
                <img src="/static/img/python-logo.png" alt="python logo" class="img-fluid" style="width: 75px;">
            </div>
        </div>
        <div class="row justify-content-center align-items-center gx-lg-5">
            <div class="col-md-3 col-lg-3 col-xl-3 text-center d-none d-lg-block">
                <img src="/static/img/python-logo.png" alt="python logo" class="img-fluid">
            </div>
            <div class="col-11 col-md-10 col-lg-8 col-xl-7">
                <p class="text-center text-lg-start display-4 fw-semibold mb-5">Python for Earthquakes</p>
                <p class="text-center text-lg-start text-muted lead fs-4">
                    Explore a range of Python tutorials customized to the specific requirements of seismological data
                    processing.
                    These tutorials cover a wide spectrum of topics, from generating functions for real-time data
                    manipulation to
                    file processing techniques for earthquake-related analysis. Additionally, you can get insights into
                    best
                    practices for
                    data visualization and the utilization of powerful libraries like ObsPy for data handling and
                    interpretation.
                </p>
                <div class="text-center text-lg-start mt-4 mb-5">
                    <a class="btn btn-outline-primary" style="width:170px;"
                        href="{{ url_for('show_topic', topic_tmp_name='file-manipulation') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                            <path
                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                            <path
                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                        </svg>
                        file-handling
                    </a>
                    <a class="btn btn-outline-warning" style="width:170px;"
                        href="{{ url_for('show_topic', topic_tmp_name='matplotlib') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bar-chart" viewBox="0 0 16 16">
                            <path
                                d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
                        </svg>
                        Matplotlib
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>

{% endblock %}