{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

    <section>
        <div id="main-index-background-image">
            <div class="container-lg py-5">
                {% if messages %}
                    <div class="flash-message">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
                <h2 class="text-center text-light fw-bold display-3 my-0 " id="home-main-title">
                    A Journey into Seismology: Unravel the secrets of the earthquakes
                </h2>
                <h2 class="text-center text-light fw-bold fs-1 my-5" id="home-main-subtitle">
                    Discover Seismic Concepts, Interact with Tools, and Deepen Your Understanding
                </h2>
            </div>
        </div>
    </section>
    
    <section class="bg-light2 py-5 my-0">
        <div class="container-lg py-5">
            <div class="row justify-content-center align-items-center mb-5">
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <img src="/static/img/home-images/book-read.svg" class="img-fluid" alt="read topic">
                </div>
                <div class="col-8 col-md-5">
                    <p class="text-muted fs-4">Get started with the <a href="{{ url_for('home_static_filter') }}" class="link-primary">seismic topics</a> to learn more about the science of Seismology</p>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-8 col-md-5">
                    <p class="text-muted fs-4">use one of the <a href="{{ url_for('home_interactive_filter') }}" class="link-primary">interactive tools</a> to process and analyze real seismological data</p>
                </div>
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <img src="/static/img/home-images/interactive.svg" class="img-fluid" alt="read topic">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <p class="text-center text-muted fs-4 mt-5">or <a href="{{ url_for('home_all_filter') }}">check</a> all the topics...</p>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="bg-light2 text-light py-5" id="seismological-topics">
        <div class="container-lg">
            <p class="display-5 text-center text-dark">Seismological topics</p>
            <hr class="mb-5">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-md-5 col-lg-4 col-6">
                    <p class="text-dark fs-3">Fault type</p>
                    <a href="/templates/fault-type-page.html"><img src="/static/img/index-images/fault-type-image.png" class="img-fluid rounded opacity-75" alt="fault representation"></a>
                    <p class="text-dark fs-5 mt-3">Information about the different fault types</p>
                </div>
                <div class="w-100 d-block d-lg-none"></div>
                <div class="col-md-5 col-lg-4 col-6">
                    <p class="text-dark  fs-3">Obspy library</p>
                    <a href="/templates/obspy-page.html"><img src="/static/img/index-images/obspy-image.png" class="img-fluid rounded opacity-75" alt="Python Obspy library"></a>
                    <p class="text-dark fs-5 mt-3">A tutorial about the Python Obspy library</p>
                </div>
                <div class="w-100 d-block d-lg-none"></div>
                <div class="col-md-5 col-lg-4 col-6">
                    <p class="text-dark fs-3">Site effect</p>
                    <a href="#"><img src="/static/img/index-images/site-effect-image.png" class="img-fluid rounded opacity-75" alt="site effect"></a>
                    <p class="text-dark fs-5 mt-3">The effect of the underground Geology</p>
                </div>
            </div>
        </div>
    </section> -->

    <section>
        <div class="container-lg py-5">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-12 col-md-10 col-lg-6">
                    <h2 class="display-4 text-muted text-center border-start border-secondary border-4 ps-3">Learn about the Site Effect<br><span class="text-muted display-6">(hover to the image)</span></h2>
                </div>
                <div class="col-12 col-md-10 col-lg-6">
                    <img src="/static/img/index-images/site-effect-animation-start.jpg" alt="Site effect"  class="img-fluid" id="site-effect-animation">
                </div>
            </div>
        </div>
    </section>

   
    <section>
        <div class="container-lg py-5">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-12 col-md-10 col-lg-6">
                    <h2 class="display-4 text-muted text-center border-start border-secondary border-4 ps-3">Learn about the elastic rebound theory<br><span class="text-muted display-6">(hover to the image)</span></h2>
                </div>
                <div class="col-12 col-md-10 col-lg-6">
                    <img src="/static/img/index-images/fault-animation-start.jpg" alt="elastic rebound theory" class="img-fluid" id="fault-animation">
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="bg-dark">
        <div class="container-lg py-5">
            <h2 class="display-4 text-muted text-center mb-1">Try the interactive tools</h2>
            <p class="fs-5 text-secondary  text-center mt-5"><span class="badge bg-info">Load</span> an MSEED file </p>
            <p class="fs-5 text-secondary  text-center mb-5">or use a <a href="#" class="link-info">file converter</a> to convert <span class="badge bg-success">MSEED</span> files to <span class="badge bg-success">ASCII</span></p>

            <div class="row justify-content-center align-items-stretch text-center">
                <div class="col-4 col-lg-3 p-3  bg-info rounded div-col-hover">
                    <p class="text-light fs-4" id="trim-hover">Trim the waveforms</p>
                </div>
                <div class="col-4 col-lg-3  border-start border-end border-dark  rounded p-3  bg-info rounded  div-col-hover">
                    <p class="text-light fs-4" id="taper-hover">Apply Taper techniques</p>
                </div>
                <div class="col-4 col-lg-3 p-3  bg-info rounded  div-col-hover">
                    <p class="text-light fs-4" id="picking-hover">Select wave arrivals</p>
                </div>
                
            </div>
            <div class="row justify-content-center align-items-stretch text-center my-2">
                <div class="col-12 col-lg-9">
                    <img class="img-fluid rounded mb-4" id="image-hover">
                </div>
            </div>
        </div>
    </section> -->

    <section class="bg-dark py-5" id="interactive-example-section">
        <div class="container-lg">
            <h2 class="display-4 text-muted text-center mb-5">Try the interactive tools</h2>
            <div class="row justify-content-center my-5 gy-2 text-center">
                <div class="col-12 col-md-auto">
                    <a class="badge bg-secondary text-dark text-decoration-none home-badge fs-6" href="#">Fourier spectra</a>
                </div>
                <div class="col-12 col-md-auto">
                    <a class="badge bg-danger text-dark text-decoration-none home-badge fs-6" href="#">Signal processing</a>
                </div>
                <div class="col-12 col-md-auto">
                    <a class="badge bg-success text-dark text-decoration-none home-badge fs-6" href="#">Arrival picking</a>
                </div>
                <div class="col-12 col-md-auto">
                    <a class="badge bg-warning text-dark text-decoration-none home-badge fs-6" href="{{ url_for('asciitomseed.show_template') }}">ascii to mseed</a>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-4 col-12">
                    <ul class="list-group list-group-flush rounded fs-5">
                        <li class="list-group-item  bg-info" id="trim-hover-li">Trim the waveform</li>
                        <li class="list-group-item  bg-info" id="pick-hover-li">Pick the arrivals</li>
                        <li class="list-group-item  bg-info" id="detrend-hover-li">Detrend the waveform</li>
                        <li class="list-group-item  bg-info" id="taper-hover-li">Apply taper techniques</li>
                        <li class="list-group-item  bg-info" id="fourier-hover-li">Compute the Fourier Spectra</li>
                    </ul>
                </div>
                <div class="w-100 d-md-none d-block"></div>
                <div class="col-md-8 col-12">
                    <img class="img-fluid rounded" id="image-hover" src="/static/img/home-images/white-image.png">
                </div>
            </div>
        </div>
    </section>
    
    <!-- <section class="bg-light2" id="interactive-tools">
        <div class="container-lg pt-5 py-5">
            <p class="text-center display-5 text-dark">Try the interactive seismological tools</p>
            <p class="fs-5 text-secondary  text-center mt-5"><span class="badge bg-info">Load</span> an MSEED file </p>
            <p class="fs-5 text-secondary  text-center mb-5">or use a <a href="#" class="link-info">file converter</a> to convert <span class="badge bg-success">MSEED</span> files to <span class="badge bg-success">ASCII</span></p>

            
            <div class="row justify-content-between align-items-center my-5 gy-5">
                <div class="col-md-5 col-lg-4 text-center">
                    <p class="display-6  text-center text-muted">Arrival picking</p>
                    <a class="btn btn-success" href="/templates/obspy-page.html">Go to the page</a>
                </div>
                <div class="col-md-5 col-lg-6 text-center">
                    <img src="/static/img/home-images/picking.png" class="img-fluid rounded opacity-75" alt="Python Obspy library">
                </div>
            </div>
            <div class="row justify-content-between align-items-center my-4 gy-5">
                <div class="col-md-5 col-lg-4 text-center">
                    <p class="display-6  text-center text-muted">Signal processing</p>
                    <a class="btn btn-success" href="/templates/obspy-page.html">Go to the page</a>
                </div>
                <div class="col-md-5 col-lg-6 text-center">
                    <img src="/static/img/home-images/processing.png" class="img-fluid rounded opacity-75" alt="Python Obspy library">
                </div>
            </div>
            <div class="row justify-content-between align-items-center  gy-5">
                <div class="col-md-5 col-lg-4 text-center">
                    <p class="display-6  text-center text-muted">Fourier Spectra</p>
                    <a class="btn btn-success" href="/templates/obspy-page.html">Go to the page</a>
                </div>
                <div class="col-md-5 col-lg-6 text-center">
                    <img src="/static/img/home-images/fourier.png" class="img-fluid rounded opacity-75" alt="Python Obspy library">
                </div>
            </div>
        </div>
    </section>  -->

    <section>
        <div class="container-lg py-5">
            <h2 class="display-5 text-muted pb-5 text-center text-lg-start">
                Check out the different Seismological sites to learn more.
            </h2>
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5  col-7 text-center">
                    <img src="/static/img/home-images/earthquakes/earthquakes1.png" alt="seismographic-network" class="img-fluid rounded d-none d-lg-block" id="image-id-earthquakes">
                </div>
                <div class="col-lg-7">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed text-bg-light p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <img src="/static/img/index-images/iris-tn.jpg" class="img-fluid pe-5">
                                    <span class="fs-4">Incorporated Research Institutions for Seismology</span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>IRIS</strong> is a university research consortium dedicated to exploring the Earth's interior through the collection and distribution of seismographic data. RIS's Education and Public Outreach Program offers animations, videos, lessons, software, posters, and fact sheets to help teachers and the general public learn more about seismology and earth science and understand it better.  
                                    <a href="https://www.iris.edu/hq/">go to the page</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed text-bg-light p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <img src="/static/img/index-images/ssa-tn.jpg" class="img-fluid pe-5">
                                    <span class="fs-4">Seismological Society of America</span>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The <strong>Seismological Society of America</strong> is an international scientific society devoted to the advancement of seismology and the understanding of earthquakes for the benefit of society. Founded in 1906, the society has members throughout the world representing seismologists and other geophysicists, geologists, engineers, insurers, and policy-makers in preparedness and safety.
                                    <a href="https://www.seismosoc.org/">go to the page</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed text-bg-light p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <img src="/static/img/index-images/emsc-tn.jpg" class="img-fluid pe-5">
                                    <spa class="fs-4"n>European-Mediterranean Seismological Centre</span>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The <strong>European-Mediterranean Seismological Centre</strong> is an international, non-governmental and not-for-profit organisation. The European-Mediterranean region is prone to destructive earthquakes. When an earthquake occurs, a scientific organisation is needed to determine, as quickly as possible, the characteristics of the seismic event. 
                                    <a href="https://www.emsc-csem.org/">go to the page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
            
{% endblock %}