{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

    <section>
        <div id="main-index-background-image">
            <div class="container-lg py-5">
                {% for message in get_flashed_messages() %}
                    <div class="flash bg-light-yellow2 p-2 mb-3 text-center text-muted fs-4 rounded">{{ message }}</div>
                {% endfor %}
                <h2 class="text-center text-light fw-bold display-3 my-0 " id="home-main-title">
                    A Journey into Seismology: Unravel the secrets of the earthquakes
                </h2>
                <h2 class="text-center text-light fw-bold fs-1 my-5" id="home-main-subtitle">
                    Discover Seismic Concepts, Interact with Tools, and Deepen Your Understanding
                </h2>
            </div>
        </div>
    </section>
    
    <section class="bg-light2 py-5 my-0">
        <div class="container-lg py-5">
            <div class="row justify-content-center align-items-center mb-5">
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <img src="/static/img/home-images/book-read.svg" class="img-fluid" alt="read topic">
                </div>
                <div class="col-8 col-md-5">
                    <p class="text-muted fs-4">Get started with the <a href="{{ url_for('BP_topics.filter_topics', filter='articles') }}" class="link-primary">seismic articles</a> to learn more about the science of Seismology</p>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-8 col-md-5">
                    <p class="text-muted fs-4">Try the <a href="{{ url_for('BP_topics.filter_topics', filter='interactive-tools') }}" class="link-primary">interactive tools</a> to process and analyze real seismological data</p>
                </div>
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <img src="/static/img/home-images/interactive.svg" class="img-fluid" alt="read topic">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <p class="text-center text-muted fs-4 mt-5">or <a href="{{ url_for('BP_topics.filter_topics', filter='all') }}">check</a> all the topics...</p>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="py-5">
            <div class="container-lg py-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-6 col-lg-7 text-center">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-3 d-none d-lg-block">
                                <img src="{{ url_for('static', filename='img/home-images/obspy-image.png') }}" alt="obspy example code" class="img-fluid">
                            </div>
                            <div class="col-9">
                                <p class="text-center text-lg-start display-4 text-muted">Delve into the Python Obspy library</p>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="col-9 col-md-6 col-lg-5 text-center">
                        <img src="{{ url_for('static', filename='img/home-images/obspy-script-example.gif') }}" alt="obspy example code" class="img-fluid">
                    </div>
                </div>
            </div>
            <p class="text-muted fs-4 text-center ">click <a href="{{ url_for('show_article', article_name='obspy.html') }}">here</a> to learn more...</p>
        </div>
    </section> 

    <section>
        <div class="container-lg py-5 mt-5">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-12 col-md-10 col-lg-6">
                    <h2 class="display-4 text-muted text-center border-start border-secondary border-4 ps-3">Learn about the Site Effect<br><span class="text-muted display-6">(hover to the image)</span></h2>
                </div>
                <div class="col-12 col-md-10 col-lg-6">
                    <img src="/static/img/index-images/site-effect-animation-start.jpg" alt="Site effect"  class="img-fluid" id="site-effect-animation">
                </div>
            </div>
        </div>
    </section>

   
    <section>
        <div class="container-lg py-5">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-12 col-md-10 col-lg-6">
                    <h2 class="display-4 text-muted text-center border-start border-secondary border-4 ps-3">Learn about the elastic rebound theory<br><span class="text-muted display-6">(hover to the image)</span></h2>
                </div>
                <div class="col-12 col-md-10 col-lg-6">
                    <img src="/static/img/index-images/fault-animation-start.jpg" alt="elastic rebound theory" class="img-fluid" id="fault-animation">
                </div>
            </div>
        </div>
    </section>


    <section class="bg-dark py-5" id="interactive-example-section">
        <div class="container-lg">
            <h2 class="display-4 text-muted text-center mb-5">Try the interactive tools</h2>
            <div class="row justify-content-center my-5 gy-2 text-center">
                <div class="col-12 col-md-auto">
                    <a class="badge bg-secondary text-dark text-decoration-none home-badge fs-6" href="{{ url_for('BP_fourier_spectra.show_template') }}">Fourier spectra</a>
                </div>
                <div class="col-12 col-md-auto">
                    <a class="badge bg-danger text-dark text-decoration-none home-badge fs-6" href="{{ url_for('BP_signal_processing.show_template') }}">Signal processing</a>
                </div>
                <div class="col-12 col-md-auto">
                    <a class="badge bg-success text-dark text-decoration-none home-badge fs-6" href="{{ url_for('BP_pick_arrivals.show_template') }}">Arrival picking</a>
                </div>
                <div class="col-12 col-md-auto">
                    <a class="badge bg-warning text-dark text-decoration-none home-badge fs-6" href="{{ url_for('BP_ascii_to_mseed.show_template') }}">ascii to mseed</a>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-4 col-12">
                    <ul class="list-group list-group-flush rounded fs-5">
                        <li class="list-group-item  bg-info" id="trim-hover-li">Trim the waveform</li>
                        <li class="list-group-item  bg-info" id="pick-hover-li">Pick the arrivals</li>
                        <li class="list-group-item  bg-info" id="detrend-hover-li">Detrend the waveform</li>
                        <li class="list-group-item  bg-info" id="taper-hover-li">Apply taper techniques</li>
                        <li class="list-group-item  bg-info" id="fourier-hover-li">Compute the Fourier Spectra</li>
                    </ul>
                </div>
                <div class="w-100 d-md-none d-block"></div>
                <div class="col-md-8 col-12">
                    <img class="img-fluid rounded" id="image-hover" src="/static/img/home-images/white-image.png">
                </div>
            </div>
        </div>
    </section>
 
 
    <section>
        <div class="container-lg py-5">
            <h2 class="display-5 text-muted pb-5 text-center text-lg-start">
                Check out the different Seismological sites to learn more.
            </h2>
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5  col-7 text-center">
                    <img src="/static/img/home-images/tectonic-plates-earthquakes-start.gif" alt="seismographic-network" class="img-fluid rounded d-none d-lg-block" id="image-id-earthquakes">
                </div>
                <div class="col-lg-7">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed text-bg-light p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <img src="/static/img/index-images/iris-tn.jpg" class="img-fluid pe-5">
                                    <span class="fs-4">Incorporated Research Institutions for Seismology</span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>IRIS</strong> is a university research consortium dedicated to exploring the Earth's interior through the collection and distribution of seismographic data. RIS's Education and Public Outreach Program offers animations, videos, lessons, software, posters, and fact sheets to help teachers and the general public learn more about seismology and earth science and understand it better.  
                                    <a href="https://www.iris.edu/hq/">go to the page</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed text-bg-light p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <img src="/static/img/index-images/ssa-tn.jpg" class="img-fluid pe-5">
                                    <span class="fs-4">Seismological Society of America</span>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The <strong>Seismological Society of America</strong> is an international scientific society devoted to the advancement of seismology and the understanding of earthquakes for the benefit of society. Founded in 1906, the society has members throughout the world representing seismologists and other geophysicists, geologists, engineers, insurers, and policy-makers in preparedness and safety.
                                    <a href="https://www.seismosoc.org/">go to the page</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed text-bg-light p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <img src="/static/img/index-images/emsc-tn.jpg" class="img-fluid pe-5">
                                    <spa class="fs-4"n>European-Mediterranean Seismological Centre</span>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The <strong>European-Mediterranean Seismological Centre</strong> is an international, non-governmental and not-for-profit organisation. The European-Mediterranean region is prone to destructive earthquakes. When an earthquake occurs, a scientific organisation is needed to determine, as quickly as possible, the characteristics of the seismic event. 
                                    <a href="https://www.emsc-csem.org/">go to the page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
            
{% endblock %}