---
import Section from "../components/utils/Section.astro";
import Container from "../components/utils/Container.astro";
import MainLayout from "../layouts/MainLayout.astro";
import ContactPage from "../components/pages/ContactPage.astro";
const pageTitle = "Contact Us";
---

<MainLayout pageTitle={pageTitle}>
  <Section>
    <Container>
      <ContactPage />
    </Container>
  </Section>
</MainLayout>
