---
import Section from "../components/utils/Section.astro";
import Container from "../components/utils/Container.astro";
import MainLayout from "../layouts/MainLayout.astro";
import DonatePage from "../components/pages/DonatePage.astro";
const pageTitle = "Support Us";
---

<MainLayout pageTitle={pageTitle}>
  <Section>
    <Container>
      <DonatePage />
    </Container>
  </Section>
</MainLayout>
