{% extends 'base.html' %}

{% block content %}
    <article>
        <section>
            <div class="bg-light">
                <div class="container-lg py-5">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-11 col-md-9 col-lg-9">
                            <p class="text-center display-4 fw-semibold">
                                {{ topic_object.title }}
                            </p>
                            <p class="text-muted fs-3 text-center">
                                {% block tool_title_description %}

                                {% endblock %}
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-5 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                            <img 
                                src="{{ url_for('static', filename='img/template-images/resized/' + topic_object.image_name) }}"  
                                alt="{{ topic_object.title }} - template image"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-lg my-4 lead fs-4">
                <div class="row justify-content-center">
                    <div class="col-11 col-md-9 col-lg-8">
                        <div class="text-muted text-start my-5">
                            <p>
                                {{ topic_object.description }}
                            </p>
                        </div>
                        
                        <div class="accordion" id="tutorialContainer">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#tutorial" aria-expanded="false" aria-controls="tutorial">
                                        User Guide
                                    </button>
                                </h2>
                                <div id="tutorial" class="accordion-collapse collapse" data-bs-parent="#tutorialContainer">
                                    <div class="accordion-body">
                                        <div class="fs-5">
                                            {% block tool_user_guide %}

                                            {% endblock %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if topic_object.title != 'File to MiniSEED' %}
                            <p class="text-muted text-center mt-5 fs-5">
                                Don't have a seismic data file ? Click <a href="{{ url_for('show_topic', topic_tmp_name='file-to-mseed') }}"
                                    class="link-info">here</a> to convert data stored in a file (such as .csv, .txt or .xlsx) to the seismic MiniSEED data file format
                                or <a href="{{ url_for('static', filename='static-files/test-mseed-file.mseed') }}"
                                    class="link-info">download</a> one to experiment with the tool. Please inform me of any encountered bugs through the <a class="link-info" href="{{ url_for('get_page', page_name='help-and-support') }}">Help & Support</a> page.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-lg my-5 lead">
                {% block tool_body %}
    
                {% endblock %}
            </div>
        </section>
    </article>
{% endblock %}


