{% extends 'base.html' %}

{% block title %}
Help & Support
{% endblock %}



{% block content %}


<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-5">
            <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Help & Support</a></li>
        </ol>
    </nav>
    <p class="display-4 text-center my-5">Help & Support</p>
    <div class="accordion my-5" id="accordion-information">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <p class="fs-3 text-start text-muted">Contact us</p>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion-information">
                <div class="accordion-body">
                    <div class="row fs-5 mb-5 mt-2 gy-5">
                        <div class="col-12 col-md-6  text-start">
                            <img class="img-fluid"
                                src="{{ url_for('static', filename='img/help-and-support/telephone-fill.svg') }}">
                            <span class="text-primary fw-bold">telephone:</span> <span>+30&nbsp6982972144</span>
                        </div>
                        <div class="col-12 col-md-6  text-start">
                            <img class="img-fluid"
                                src="{{ url_for('static', filename='img/help-and-support/envelope-fill.svg') }}">
                            <span class="text-primary fw-bold">email:</span> <span>giannis.marar@hotmail.com</span>
                        </div>
                        <div class="col-12 col-md-6  text-start">
                            <img class="img-fluid"
                                src="{{ url_for('static', filename='img/help-and-support/linkedin.svg') }}">
                            <span class="text-primary fw-bold">LinkedIn:</span> <span>ioannis-maragkakis</span>
                        </div>
                        <div class="col-12 col-md-6  text-start">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col justify-content-center">
                            <div class="text-center">
                                <span class="me-4"><a href="mailto: giannis.marar@hotmail.com">send email</a></span>
                                <span><a target="_blank"
                                        href="https://www.linkedin.com/in/ioannis-maragkakis-1ba2851a9/">Go to
                                        LinkedIn</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <p class="fs-3 text-start text-muted">FAQs</p>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion-information">
                <div class="accordion-body">
                    <p class="fw-bold fs-6">What kind of files does the site uses ?</p>
                    <p class="fs-6">The site uses MiniSEED or MSEED binary format files that store and exchange digital
                        seismic waveform data.</p>
                    <hr>
                    <p class="fw-bold fs-6">What tools are used to build this website ?</p>
                    <p class="fs-6">The technology used to build this website consists of tools that have to do with the
                        front-end side such as <code>HTML</code>, <code>CSS</code>, <code>Javascript</code> and tools
                        related to the front-end side or server side that we use the <code>Flask</code> Python library.
                    </p>
                    <hr>
                    <p class="fw-bold fs-6">What is the site about ?</p>
                    <p class="fs-6">The site is about earthquake related concepts and tools. Our platform is
                        thoughtfully designed to serve individuals from various backgrounds and levels of knowledge.
                        Here, we're passionate about making earthquake knowledge accessible to everyone. Our mission is
                        to empower you with insights and resources that span from the basics to more advanced insights.
                        Our collection includes a wide array of articles and tools carefully crafted to ensure that
                        regardless of your familiarity with the topic, you'll find something valuable and engaging.</p>
                    <hr>
                    <p class="fw-bold fs-6">How do I navigate through the website?</p>
                    <p class="fs-6">We've organized our content into two main categories: articles and interactive
                        tools. Dive into our articles to gain deeper insights into various seismological concepts, and
                        don't miss out on our interactive tools that let you explore and apply different seismological
                        computations.</p>
                    <hr>
                    <p class="fw-bold fs-6">Will the site be regularly updated with new content?</p>
                    <p class="fs-6">Yes, we are committed to providing you with a dynamic and evolving resource. Our
                        team is dedicated to regularly updating the site with fresh articles, tools, and the latest
                        insights in the field of seismology. Be sure to check back often to discover new additions that
                        will continue to enrich your understanding and exploration of earthquakes.</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <p class="fs-3 text-start text-muted">Additional websites</p>
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion-information">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <div class="row justify-content-around align-items-center">
                            <div class="col-9 col-sm-10 col-lg-11">
                                <a target="_blank" href="https://www.iris.edu/hq/">
                                    <p class="fs-5">Incorporated Research Institutions for Seismology</p>
                                </a>
                            </div>
                            <div class="col-3 col-sm-2 col-lg-1">
                                <p>
                                    <img src="{{ url_for('static', filename='img/help-and-support/iris.png') }}"
                                        class="img-fluid">
                                </p>

                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-around align-items-center">
                            <div class="col-9 col-sm-10 col-lg-11">
                                <a target="_blank" href="https://www.usgs.gov/">
                                    <p class="fs-5">United States Geological Survey</p>
                                </a>
                            </div>
                            <div class="col-3 col-sm-2 col-lg-1">
                                <p>
                                    <img src="{{ url_for('static', filename='img/help-and-support/usgs.png') }}"
                                        class="img-fluid">
                                </p>

                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-around align-items-center">
                            <div class="col-9 col-sm-10 col-lg-11">
                                <a target="_blank" href="http://www.isc.ac.uk/">
                                    <p class="fs-5">European-Mediterranean Seismological Centre</p>
                                </a>
                            </div>
                            <div class="col-3 col-sm-2 col-lg-1">
                                <p>
                                    <img src="{{ url_for('static', filename='img/help-and-support/emsc.jpg') }}"
                                        class="img-fluid">
                                </p>

                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-around align-items-center">
                            <div class="col-9 col-sm-10 col-lg-11">
                                <a target="_blank" href="http://www.itsak.gr/en">
                                    <p class="fs-5">Institute of Engineering Seismology and Earthquake Engineering</p>
                                </a>
                            </div>
                            <div class="col-3 col-sm-2 col-lg-1">
                                <p>
                                    <img src="{{ url_for('static', filename='img/help-and-support/itsak_logo.png') }}"
                                        class="img-fluid">
                                </p>

                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-around align-items-center">
                            <div class="col-9 col-sm-10 col-lg-11">
                                <a target="_blank" href="http://geophysics.geo.auth.gr/ss/station_index_en.html">
                                    <p class="fs-5">Seismological Station Aristotle University of Thessaloniki</p>
                                </a>
                            </div>
                            <div class="col-3 col-sm-2 col-lg-1">
                                <p>
                                    <img src="{{ url_for('static', filename='img/help-and-support/auth_logo.png') }}"
                                        class="img-fluid">
                                </p>

                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-around align-items-center">
                            <div class="col-9 col-sm-10 col-lg-11">
                                <a target="_blank" href="http://bbnet.gein.noa.gr/HL/">
                                    <p class="fs-5">National Observatory of Athens</p>
                                </a>
                            </div>
                            <div class="col-3 col-sm-2 col-lg-1">
                                <p>
                                    <img src="{{ url_for('static', filename='img/help-and-support/noa_logo.png') }}"
                                        class="img-fluid">
                                </p>

                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <p class="fs-3 text-start text-muted">Feedback</p>
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordion-information">
                <div class="accordion-body">
                    <div class="mb-3">
                        <form action="{{ url_for('receive_feedback') }}" method="POST">
                            <label for="feedback-input" class="form-label">Provide Feedback</label>
                            <textarea class="form-control" id="feedback-input" name="feedback-input"
                                rows="10"></textarea>
                            <div class="text-center my-5">
                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}