{% extends 'base.html' %}

{% block title %}
   Not found
{% endblock %}

{% block extcss %}


{% endblock %}


{% block content %}


<div style="text-align: center">
    <h1 class="display-1">Page Not Found!</h1>
    <p class="display-6 text-muted">The server scientists could not find your page...</p>
    <div class="row justify-content-center align-items-center my-5">
        <div class="col-6">
            <img src="/static/img/page-not-found-images/minions.png" class="img-fluid">
        </div>
    </div>
  </div>

<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

        

{% endblock %}




