{% extends 'base.html' %}

{% block title %}Search topics{% endblock %}

{% block content %}

<div class="container-lg">

    <section class="mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-5">
                <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Search Topic</a></li>
            </ol>
        </nav>
        <p class="text-center display-3 mt-5 mb-4 fw-semibold">
            Search Topics 
        </p>
        <div class="row justify-content-center">
            <div class="col-10 col-md-9 col-lg-8 text-center">
                <p class="text-muted fs-3 fw-semibold fst-italic mb-5">
                    Discover Various Seismic Articles, Engage With Interactive Tools And Deepen Your Understanding
                </p>
            </div>
        </div>


        <div class="row justify-content-center align-items-center my-4">
            <div class="col-10 col-md-8 col-lg-6 col-xl-5 text-center">
                <p class="text-center fs-4 text-muted mt-5 mb-3 fw-semibold">Search for a topic</p>
                <form role="search" method="GET"
                            action="{{ url_for('BP_search_topics.search_topic') }}">
                        
                    <input class="form-control form-control-lg me-2" type="search" placeholder="Search" aria-label="Search"
                        name="search-param">
                    <div class="text-center my-3">
                        <button class="btn btn-dark" type="submit">Search</button>
                    </div>
            </div>
        </div>
        <br><br>
        <p class="text-center display-6 mt-5 mb-2 fw-semibold">
            {{ selectedtopic }}
        </p>
        <div class="row justify-content-center justify-content-lg-start align-items-center  mt-5 mb-2 gy-3">
            <div class="col-8 col-md-auto text-center text-md-start">
                <a class="btn btn-light mx-1" style="width:160px;" href="{{ url_for('BP_search_topics.filter_topics', topictype='all topics') }}">
                    All Topics
                </a>
            </div>
            <div class="col-8 col-md-auto text-center text-md-start">
                <a class="btn btn-light mx-1" style="width:160px;" href="{{ url_for('BP_search_topics.filter_topics', topictype='articles') }}">
                    Articles
                </a>
            </div>
            <div class="col-8 col-md-auto text-center text-md-start">
                <a class="btn btn-light mx-1" style="width:160px;" href="{{ url_for('BP_search_topics.filter_topics', topictype='interactive tools') }}">
                    Interactive Tools
                </a>
            </div>
        </div>
        <div class="mb-5">
            {% if not topics %}
                <p class="text-muted fs-3 text-center my-5">The server scientists cannot find what you are looking for...</p>
                <div class="row justify-content-center">
                    <div class="col-8 col-md-6 col-lg-5 col-xl-4 text-center">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/minions.png') }}">
                    </div>
                </div>
            {% else %}
                <div class="row justify-content-center justify-content-lg-start align-items-center">
                    {% for tpc in topics %}
                        {% set filename = tpc['image_name'] %}
                        <div class="col-9 col-sm-7 col-md-5 col-lg-4 col-xl-3 text-center">
                            <a href="{{ url_for('show_topic', topic_tmp_name=tpc['template_name']) }}" class="text-decoration-none text-dark">
                                <div class="card text-bg-dark" style="margin:10px auto;" id="all-topics-card">
                                    <img src="{{ url_for('static', filename='img/template-images/resized/' ~ filename) }}" class="card-img mx-auto img-fluid" style="opacity: 0.4">
                                    <div class="card-img-overlay">
                                        <h5 class="card-title fw-bold text-center text-info fs-4">{{ tpc['title'] }}</h5>
                                        <br>
                                        <p class="text-center fs-5 m-0 p-0">{{ tpc['description'][:70] }}...</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}    
                </div>
            {% endif %}
        </div>
    </section>
</div>

{% endblock %}