{% extends 'base.html' %}

{% block title %}
Fourier Spectra
{% endblock %}



{% block content %}
    <div class="container-lg">
        <div class="text-start py-4">
            <a href="{{ url_for('BP_admin.admin_index') }}" class="btn btn-primary">admin index</a>
        </div>
        <div class="bg-dark text-light p-4 rounded">
            <div class="d-xl-block d-none">
                <div class="row justify-content-center align-items-center fs-4 text-light rounded ">
                    <div class="col-2 text-center">
                        <p>id</p>
                    </div>
                    <div class="col-3 text-center">
                        <p>email</p>
                    </div>
                    <div class="col-3 text-center">
                        <p>fullname</p>
                    </div>
                    <div class="col-2 text-center">
                        <p>last_login</p>
                    </div>
                    <div class="col-2 text-center">
                        <p>registered_date</p>
                    </div>
                </div>
            </div>
            <hr class="border-2 border-top">
        {% for user in users %}
            <div class="row justify-content-center align-items-center fs-5 bg-info text-dark rounded">
                <div class="col-12 col-xl-2 text-center">
                    {% if user['email'] == 'giannis.marar@hotmail.com' %}
                        <p>{{ user['id'] }} (admin)</p>
                    {% else %}
                        <p>{{ user['id'] }}</p>
                    {% endif %}
                </div>
                <div class="col-12 col-xl-3 text-center">
                    <p>{{ user['email'] }}</p>
                </div>
                <div class="col-12 col-xl-3 text-center">
                    <p>{{ user['fullname'] }}</p>
                </div>
                <div class="col-6 col-xl-2 text-center">
                    <p>{{ user['last_login'] }}</p>
                </div>
                <div class="col-6 col-xl-2 text-center">
                    <p>{{ user['registered_date'] }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}
        </div>
    </div>
{% endblock %}