html {
    scroll-behavior:smooth
}

body {
    margin: 0px;
}

/* --------------------------HELP AND SUPPORT --------------------------*/

.support-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.support-card {
    padding: 20px;
    border-radius: 10px;
    background-color: #a5b7ff;
    transition: background-color 0.7s;
    margin: 0px 20px;
    width: 200px;
}

.support-card:hover {
    background-color: #6dacff;
}

/* ------------------------- ADMIN LOGIN PAGE -----------------------------*/

#admin-login-container {
    background-image: url("/static/img/seismogram-bg-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  bottom 55% right 20px;
}

/* ------------------------- BASE PAGE TOP MENU ----------------------------*/

#index-top-menu .nav-item:hover {
    filter: opacity(1);
}

#index-top-menu .nav-item {
    filter: opacity(0.6);
    color: rgb(197, 192, 192);
}

.user-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #343a3a;
    
}

.dropdown-menu a:hover {
    background-color: #343a3a;
    color: rgb(232, 226, 226);
   
}

.dropdown-menu a {
    color: rgb(153, 148, 148);
}

#about-me-icons-container .about-me-icon-div {
    transition: transform 0.8s;
}

#about-me-icons-container .about-me-icon-div:hover {
    transform: translateY(150px) translateX(150px);
}

/* ------------------------- INDEX PAGE ----------------------------*/

#main-index-background-image-div {
    background-image: url("/static/img/img-carous1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.9;
    min-height: 500px !important;
}

.index-interactive-tools-badge:hover {
    transform: scale(1.1);
}

.index-interactive-tools-badge {
    width: 160px;
}

#interactive-tools-video li:hover {
    background-color: #212529 !important;
    color: #54B4D3 !important;
}


.index-article-card:hover {
    box-shadow: 0 0 !important;
}


/* ------------------------- SEARCH TOPICS PAGE ----------------------------*/

#all-topics-card {
    transition: transform 0.5s;
}

#all-topics-card:hover {
    transform:  scale(1.1);
}


/* ------------------------- ARRIVALS PICKING PAGE ----------------------------*/

#picking-graph-container {
    min-height: 480px;
}


/* ------------------------- FOURIER PAGE ----------------------------*/

#fourier-spectra-start-by-upload-container {
    height: 380px;
    position: relative;
}


/* ------------------------- SIGNAL PROCESSING ----------------------------*/

#signal-processing-start-by-upload-container {
    height: 450px;
    position: relative;
}

.signal-processing-icon {
    width: 30px;
    height: 30px;
}

#signal-processing-option-menu {
    font-size: 15px;
}






/* ----------------------- COLORS ---------------------------*/


.bg-light2 {
    background-color: #f2f2f2;
}

.bg-dark2 {
    background-color: #391932;
}

.bg-navy {
    background-color: #27285C;
}
.bg-pink {
    background-color: #ff80ed
}

.bg-light-red1 {
    background-color: #fff2ed
}

.bg-light-red2 {
    background-color: #ffcbb9
}

.bg-light-red3 {
    background-color: #ffa584
}

.bg-light-red3 {
    background-color: #ff7f50
}

.bg-light-yellow1 {
    background-color: #ffffef
}

.bg-light-yellow2 {
    background-color: #ffffc1
}

.bg-light-yellow3 {
    background-color: #ffff93
}

.bg-light-yellow4 {
    background-color: #FFFF66
}

.bg-very-light-yellow1 {
    background-color: #fafffa
}

.bg-very-light-yellow2 {
    background-color: #e9ffe6
}

.bg-very-light-yellow3 {
    background-color: #d7ffd2
}

.bg-light-blue1 {
    background-color: #eaf4ff
}

.bg-light-blue2 {
    background-color: #add6ff
}

.bg-light-blue3 {
    background-color: #70b7ff
}

.bg-light-blue4 {
    background-color: #3399ff
}

.bg-light-grey1 {
    background-color: #fcfcfc
}

.bg-light-grey2 {
    background-color: #f5f5f5
}

.bg-light-grey3 {
    background-color: #eeeeee
}

.bg-light-grey4 {
    background-color: #e7e7e7
}

.bg-orange {
    background-color: #FFA500
}

.bg-dark-brown {
    background-color: #990000
}

.bg-tomato {
    background-color: #FF6347
}

.bg-sky {
    background-color: #82CAFF
}

.bg-iceberg {
    background-color: #56A5EC
}

.bg-deepteal {
    background-color: #033E3E
}

.bg-royalblue {
    background-color: #4169e1
}

.bg-beige {
    background-color: #f5f5dc
}


/* ----------------------  STATIC -------------------------*/


.python-color1 {
    color: rgb(184, 6, 6);
}

.python-color2 {
    color: blue;
}

.python-color3{
    color: rgb(123, 160, 123) ;
}

.comment {
    color: rgba(166, 167, 167, 0.961);
}

.justified {
    text-align: justify !important;
}

.top-level-pills-container span {
    display: inline-block;
    width: 75px;
    transition: transform 0.3s, background-color 0.2s, color 0.2s;
    background-color: rgb(47, 45, 45)  !important;
    color: rgb(255, 255, 255) !important;
}

.top-level-pills-container span:hover {
    transform: scale(1.13) translateY(-6px);
    background-color: rgb(169, 220, 250)  !important;
    color: rgb(47, 45, 45)  !important;
}


.first-line-indent {
    text-indent: 40px;
}

.author-ref {
    color:rgb(55, 55, 247);
    font-style: italic;
}


/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #848484;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #848484 #f1f1f1;
    /* You may need to use browser-specific properties or other techniques. */
    scrollbar-track-color: #f1f1f1;
}


.article-main-content h1{
    text-align: left;
    font-size: 45px;
    color: #1a1dbb;
    margin: 80px 0px 50px 0px;
}

.article-main-content h2{
    text-align: center;
    font-size: 35px;
    color: #242425;
    margin: 35px 0px 25px 0px;
}

.article-main-content p{
    font-size: 20px;
}

.article-main-content ul {
    font-size: 20px;
}

.article-main-content ol {
    font-size: 20px;
}

.article-main-content ul li, .article-main-content ol li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-main-content .figure-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.article-main-content img {
    width: 80%;
}

.article-main-content figcaption {
    font-size: 16px;
    font-style: italic;
    color: #4b4ee5;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.article-main-content figcaption.table-caption {
    font-size: 16px;
    font-style: italic;
    color: #4b4ee5;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
}

.article-main-content .blockquote-footer {
    font-size: 16px;
    font-style: italic;
    color: #4b4ee5;
    margin-bottom: 60px;
    text-align: center;
}

.article-main-content blockquote {
    margin: 60px 60px 0px 60px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: 20;
}

 .article-main-content .table-article {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 40px;
}
  
 .article-main-content .table-article th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}
  

.article-main-content .table-article tr:nth-child(even) {
    background-color: #f2f2f2;
}
  

.article-main-content .table-article td {
    padding: 10px;
    border: 1px solid #ddd;
}

.article-main-content .output-code-block {
    background-color: #3e3e3e;
    padding: 10px;
    margin: 30px 0px;
    border-radius:5px;
    font-size: 18px;
    overflow-x: auto;
}

.article-main-content .output-code-block p {
    white-space: nowrap;
    margin: 0px 0px;
    line-height: 0;
    line-height: 8px;
    color: rgb(210, 210, 210);
}

.article-main-content .equation p {
    text-align: center;
    font-size: 24px;
    font-family: 'Consolas';
    margin: 50px 0px;
    color: #282828;
    font-style: italic;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 8px;
}

.article-main-content .output-code-block pre {
    white-space: pre-line;
    margin: 0px;
}

.card-article {
    background-color: #edf1f1;
    padding: 20px;
    border-radius: 10px;
    margin: 60px 0px;
}

.card-article svg {
    display: block;
    width: 24px;
    height: 24px;
}

.card-article p, .card-article .input-code-block, .card-article .output-code-block {
    margin-left: 40px;
}

@media (min-width: 768px) {
    .article-main-content img {
        width: 65%;
    }
}

@media (min-width: 992px) {
    .article-main-content img {
        width: 55%;
    }
}

@media (min-width: 1200px) {
    .article-main-content img {
        width: 45%;
    }
}

