---

---

<div
  id="cookie-consent-banner"
  class="hidden fixed bottom-0 w-full bg-base-300 text-white px-4 py-3 text-center z-50 shadow-md"
>
  <p class="mb-2">
    We use cookies and Google Analytics to improve your experience. Do you
    accept?
  </p>
  <div class="flex items-center justify-center gap-3">
    <button id="consent-accept" class="btn btn-success btn-outline rounded-md">
      Accept
    </button>
    <button id="consent-decline" class="btn btn-error btn-outline rounded-md">
      Decline
    </button>
  </div>
</div>
