---
const { pageTitle = "My Astro Website", ...props } = Astro.props;
---

<title>{pageTitle}</title>
<meta
  name="description"
  content="A website about earthquakes. Delve into the various seismic articles and utilize the interactive tools "
/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
