html {
    scroll-behavior:smooth
}

body {
    margin: 0px;
}



/* ------------------------- BASE PAGE ----------------------------*/

#index-top-menu .nav-item:hover {
    filter: opacity(1);
}

#index-top-menu .nav-item {
    filter: opacity(0.6);
    color: rgb(197, 192, 192);
}

.user-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #343a3a;
    
}

.dropdown-menu a:hover {
    background-color: #343a3a;
    color: rgb(232, 226, 226) !important;
   
}

.dropdown-menu a {
    color: rgb(153, 148, 148) !important;
}


/* ------------------------- INDEX PAGE ----------------------------*/

#main-index-background-image {
    background-image: url("/static/img/main-background-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-badge:hover {
    transform: scale(1.1);
}

.home-badge {
    width: 150px;
}

#interactive-tools-video li:hover {
    background-color: #212529 !important;
    color: #54B4D3 !important;
}

.index-card:hover {
    box-shadow: 0 0 !important;
}


/* ------------------------- SEARCH TOPICS PAGE ----------------------------*/

#all-topics-card {
    transition: transform 0.5s;
}

#all-topics-card:hover {
    transform:  scale(1.1);
    border: 1px solid black;
}


/* ------------------------- ARRIVALS PICKING PAGE ----------------------------*/

#picking-graph-container {
    height: 480px;
}


/* ------------------------- FOURIER PAGE ----------------------------*/

#fourier-spectra-start-by-upload-container {
    height: 380px;
    position: relative;
}


/* ------------------------- SIGNAL PROCESSING ----------------------------*/

#signal-processing-start-by-upload-container {
    height: 450px;
    position: relative;
}

.signal-processing-icon {
    width: 30px;
    height: 30px;
}

#signal-processing-option-menu {
    font-size: 15px;
}






/* ----------------------- COLORS ---------------------------*/


.bg-light2 {
    background-color: #f2f2f2;
}

.bg-dark2 {
    background-color: #391932;
}

.bg-navy {
    background-color: #27285C;
}
.bg-pink {
    background-color: #ff80ed
}

.bg-light-red1 {
    background-color: #fff2ed
}

.bg-light-red2 {
    background-color: #ffcbb9
}

.bg-light-red3 {
    background-color: #ffa584
}

.bg-light-red3 {
    background-color: #ff7f50
}

.bg-light-yellow1 {
    background-color: #ffffef
}

.bg-light-yellow2 {
    background-color: #ffffc1
}

.bg-light-yellow3 {
    background-color: #ffff93
}

.bg-light-yellow4 {
    background-color: #FFFF66
}

.bg-very-light-yellow1 {
    background-color: #fafffa
}

.bg-very-light-yellow2 {
    background-color: #e9ffe6
}

.bg-very-light-yellow3 {
    background-color: #d7ffd2
}

.bg-light-blue1 {
    background-color: #eaf4ff
}

.bg-light-blue2 {
    background-color: #add6ff
}

.bg-light-blue3 {
    background-color: #70b7ff
}

.bg-light-blue4 {
    background-color: #3399ff
}

.bg-light-grey1 {
    background-color: #fcfcfc
}

.bg-light-grey2 {
    background-color: #f5f5f5
}

.bg-light-grey3 {
    background-color: #eeeeee
}

.bg-light-grey4 {
    background-color: #e7e7e7
}

.bg-orange {
    background-color: #FFA500
}

.bg-dark-brown {
    background-color: #990000
}

.bg-tomato {
    background-color: #FF6347
}

.bg-sky {
    background-color: #82CAFF
}

.bg-iceberg {
    background-color: #56A5EC
}

.bg-deepteal {
    background-color: #033E3E
}

.bg-royalblue {
    background-color: #4169e1
}

.bg-beige {
    background-color: #f5f5dc
}


/* ----------------------  STATIC -------------------------*/


.python-color1 {
    color: rgb(184, 6, 6);
}

.python-color2 {
    color: blue;
}

.python-color3{
    color: rgb(123, 160, 123) ;
}

.comment {
    color: rgba(166, 167, 167, 0.961);
}

.justified {
    text-align: justify !important;
}

.top-level-pills-container span {
    display: inline-block;
    width: 75px;
    transition: transform 0.3s, background-color 0.2s, color 0.2s;
    background-color: rgb(47, 45, 45)  !important;
    color: rgb(255, 255, 255) !important;
}

.top-level-pills-container span:hover {
    transform: scale(1.13) translateY(-6px);
    background-color: rgb(169, 220, 250)  !important;
    color: rgb(47, 45, 45)  !important;
}



.justified-container p {
    text-align: justify;
}

.first-line-indent {
    text-indent: 40px;
}

.author-ref {
    color:rgb(55, 55, 247);
    font-style: italic;
}


/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #848484;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #848484 #f1f1f1;
    /* You may need to use browser-specific properties or other techniques. */
    scrollbar-track-color: #f1f1f1;
}


.article-container {
    display: block;
}

.article-left-menu {
    padding: 0px 10px;
}

.article-main-content {
    height: auto;
    overflow-y: visible;
    padding: 0px 15px;
}

.article-list-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.article-list-container .title {
    font-size: 30px;
    text-align: center;
}

.article-list-container li a.sub-chapter {
    margin-left: 20px;
}

.article-container li {
    text-align: center;
    margin-bottom: 10px;
}

.article-list-container li a {
    color: #212529;
    font-weight: lighter;
    font-size: 17px;
    text-decoration: none;
}

.article-list-container li a:hover {
    color: rgb(63, 63, 241);
}



.article-main-content h1{
    text-align: left;
    font-size: 60px;
    color: #1a1dbb;
    margin: 80px 0px 50px 0px;
}

.article-main-content h2{
    text-align: center;
    font-size: 45px;
    color: #242425;
    margin: 35px 0px 25px 0px;
}



.article-main-content p{
    font-weight: 100;
    font-size: 25px;
    color: #383839;
}

.article-main-content ul {
    font-weight: 100;
    font-size: 22px;
    color: #383839;
}

.article-main-content ol {
    font-weight: 100;
    font-size: 22px;
    color: #383839;
}

.article-main-content .figure-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.article-main-content img {
    width: 80%;
}


.article-main-content figcaption {
    font-size: 16px;
    font-style: italic;
    color: #4b4ee5;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.article-main-content figcaption.table-caption {
    font-size: 16px;
    font-style: italic;
    color: #4b4ee5;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.article-main-content .blockquote-footer {
    font-size: 16px;
    font-style: italic;
    color: #4b4ee5;
    margin-bottom: 60px;
    text-align: center;
}

.article-main-content blockquote {
    margin: 60px 60px 0px 60px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: 20;
}

.article-main-content table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
}
  

.article-main-content th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}
  

.article-main-content tr:nth-child(even) {
    background-color: #f2f2f2;
}
  

.article-main-content td {
    padding: 10px;
    border: 1px solid #ddd;
}

.article-main-content .input-code-block {
    background-color: #fdfbfb;
    border: black 0.2px solid;
    padding: 10px;
    margin: 30px 0px;
    border-radius:5px;
    font-size: 18px;
    overflow-x: auto;
}

.article-main-content .output-code-block {
    background-color: #3e3e3e;
    padding: 10px;
    margin: 30px 0px;
    border-radius:5px;
    font-size: 18px;
    overflow-x: auto;
}

.article-main-content .input-code-block p {
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    line-height: 8px;
    color: rgb(0, 0, 0);
}

.article-main-content .output-code-block p {
    white-space: nowrap;
    margin: 0px 0px;
    line-height: 0;
    line-height: 8px;
    color: rgb(210, 210, 210);
}

.article-main-content .equation p {
    text-align: center;
    font-size: 24px;
    font-family: 'Consolas';
    margin: 50px 0px;
    color: #282828;
    font-style: italic;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 8px;
}

.article-main-content .input-code-block .pad {
    margin-left: 40px;
}

.article-main-content .output-code-block .pad {
    margin-left: 40px;
}

.article-main-content .input-code-block .pad-double {
    margin-left: 80px;
}

.article-main-content .output-code-block .pad-double {
    margin-left: 80px;
}

.article-main-content .input-code-block pre {
    white-space: pre-line;
    margin: 0px;
}

.article-main-content .output-code-block pre {
    white-space: pre-line;
    margin: 0px;
}

.card-article {
    background-color: #edf1f1;
    padding: 20px;
    border-radius: 10px;
    margin: 60px 0px;
}

.card-article svg {
    display: block;
    width: 24px;
    height: 24px;
}

.card-article p, .card-article .input-code-block, .card-article .output-code-block {
    margin-left: 40px;
}


@media (min-width: 768px) {
    .article-main-content {
        padding: 0px 25px;
    }
    .article-main-content img {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .article-container {
        display: flex;
        flex-direction: row;
        padding-right: 50px;
    }

    .article-left-menu {
        flex: 1;
    }

    .article-main-content {
        height: 100vh;
        overflow-y: auto;
        border-left: 1px solid grey;
        flex:4;
        padding: 0px 25px;
    }

    .article-container li {
        text-align: left;
    }

    .article-list-container .title {
        display: none;
    }
    .article-main-content img {
        width: 50%;
    }
   
 
}

@media (min-width: 1200px) {
    .article-main-content {
        padding: 0px 75px;
    }
    .article-main-content img {
        width: 40%;
    }
}


/*









.card-article .input-code-card code span {
    display: block;
}

.card-article .output-code-card code span {
    display: block;
}

.card-article .input-code-card {
    padding: 6px;
    background-color: #ffffff;
    color: #323030;
    border-radius: 8px;
    border: 1px solid rgb(168, 167, 167);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.card-article .output-code-card {
    padding: 6px;
    background-color: #3e3e41;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgb(168, 167, 167);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}


*/