body {
    background-color: #f0f5f1;
    background-image: url("/static/img/output3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  bottom 55% right 20px;
}


.bg-pink {background-color: #ff80ed}
.bg-light-red1 {background-color: #fff2ed}
.bg-light-red2 {background-color: #ffcbb9}
.bg-light-red3 {background-color: #ffa584}
.bg-light-red3 {background-color: #ff7f50}
.bg-light-yellow1 {background-color: #ffffef}
.bg-light-yellow2 {background-color: #ffffc1}
.bg-light-yellow3 {background-color: #ffff93}
.bg-light-yellow4 {background-color: #FFFF66}
.bg-very-light-yellow1 {background-color: #fafffa}
.bg-very-light-yellow2 {background-color: #e9ffe6}
.bg-very-light-yellow3 {background-color: #d7ffd2}
.bg-light-bluel1 {background-color: #eaf4ff}
.bg-light-bluel2 {background-color: #add6ff}
.bg-light-bluel3 {background-color: #70b7ff}
.bg-light-bluel4 {background-color: #3399ff}
.bg-light-grey1 {background-color: #fcfcfc}
.bg-light-grey2 {background-color: #f5f5f5}
.bg-light-grey3 {background-color: #eeeeee}
.bg-light-grey4 {background-color: #e7e7e7}
.bg-orange {background-color: #FFA500}
.bg-dark-brown {background-color: #990000}
.bg-tomato {background-color: #FF6347}
.bg-sky {background-color: #82CAFF}
.bg-iceberg {background-color: #56A5EC}
.bg-deepteal {background-color: #033E3E}
.bg-royalblue {background-color: #4169e1}
.bg-beige {background-color: #f5f5dc}


