{% extends 'base-interactive-tools.html' %}


{% block tool_template_image %}
    <img 
        src="{{ url_for('static', filename='img/' + topic_object.image_name) }}"  
        alt="{{ topic_object.title }} - template image"
        class="img-fluid"
    >
{% endblock %}


{% block tool_title %}
    {{ topic_object.title }}
{% endblock %}


{% block tool_title_description %}
    Edit the content of a seismic file
{% endblock %}


{% block tool_intro_description %}
    {{ topic_object.description }}
{% endblock %}



{% block tool_user_guide %}
    <p>
        Utilize this interactive tool if you have a seismic file (one of the <a target="_blank" href="https://docs.obspy.org/packages/autogen/obspy.core.stream.read.html">formats</a> 
        supported by Obspy <code>read</code> function) and you need to inspect its contents (header and 
        visualized data values) or update the header information (station name, components, etc.). Begin 
        by uploading your seismic data file. The fields will display the seismic parameters found in the 
        uploaded file's header. You can modify these parameters using the <kbd>Update Header</kbd> 
        option, but note that the values for the sampling rate (fs) and total sample points (npts) 
        cannot be changed. If you want to create a seismic MiniSEED file from scratch, use the 
        <a href="{{ url_for('show_topic', topic_tmp_name='ascii-to-mseed') }}" class="link-info">ASCII To MSEED</a> 
        converter tool. Feel free to download the seismic file's data in CSV format, with components 
        as the data column headers, using the <kbd>Download Data</kbd> option. After updating the header, download the file with the updated 
        header using the <kbd>Download File</kbd> option.</p>
    </p>
    <p>
        Keep in mind the following:
    </p>
    <ul>
        <li>If your seismic file contains more than 6 records or traces, it will raise an error due to decreased performance.</li>
        <li>The station name should consist of 2 to 8 characters or numbers.</li>
        <li>The "components" field should include record components separated by commas. Each component should consist of 1 to 4 characters or numbers. Examples include E, N, Z or X, Y, Z or X1, X2, V or E, N or E or Z. If the "components" field is left empty, default components will be used.</li>
    </ul>
{% endblock %}


{% block tool_body %}
    <div class="container-lg">
        <div class="row justify-content-center align-items-center my-5">
            <div class="text-center  bg-red text-red mt-3" id="spinner-div">
                <div class="spinner-border spinner-border-xl text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="col-8 text-center">
                <input class="form-control d-none" type="file" name="file" id="upload-file-input">
                <button class="btn btn-lg btn-primary" id="upload-file-button">Upload Seismic File</button>
            </div>
        </div>
        <div id="header-plot-container">
            <div class="row justify-content-center align-items-center my-5">
                <div class="col-8 col-sm-5 col-md-4 col-lg-3 text-center">
                    <div id="header">
                        <label for="station" class="form-label text-center mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            station
                        </label>
                        <input type="text" id="station" name="station" class="form-control">
                        <label for="date" class="form-label text-center mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg>
                            Date
                        </label>
                        <input type="date" id="date" name="date" class="form-control">
                        <label for="time" class="form-label text-center mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                                </svg>
                            Time
                        </label>
                        <input type="time" id="time" name="time" class="form-control">
                        <label for="sampling-rate" class="form-label text-center mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-broadcast" viewBox="0 0 16 16">
                                <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                </svg>
                            sampling rate *
                        </label>
                        <input type="number" id="sampling-rate" name="sampling-rate" class="form-control" readonly>
                        <label for="npts" class="form-label text-center mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                </svg>
                            npts *
                        </label>
                        <input type="number" id="npts" name="npts" class="form-control" readonly>
                        <label for="components" class="form-label text-center mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-soundwave" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                            components
                        </label>
                        <input type="text" id="components" name="components" class="form-control">
                        <button id="update-header-button" class="btn btn-dark mt-4">Update Header</button>
                        <p class="text-center fs-6 text-muted mt-4">
                            The fields with the asterisk (*) are read only. They cannot be changed!
                        </p>
                    </div>
                </div>
                <div class="col-10 col-lg-7 text-center">
                    <div id="time-series-graph">

                    </div>
                    <div class="row justify-content-center align-items-center my-4">
                        <div class="col-4 col-lg-3 text-center">
                            <a href="{{ url_for('BP_edit_seismic_file.download_data') }}" class="btn btn-dark">Download Data</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row justify-content-center align-items-center my-5">
                <div class="col-4 col-lg-3 text-center">
                    <div class="text-center">
                        <a href="{{ url_for('BP_edit_seismic_file.download_file') }}" class="btn btn-lg btn-success">Download file</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <script src="/static/js/edit-seismic-file.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
    
