

{% extends 'base-articles.html' %}


{% block article_template_image %}
    <img 
        src="{{ url_for('static', filename='img/templates-icons/' + topic_object.image_name) }}"  
        alt="{{ topic_object.title }} - template image"
        class="img-fluid"
    >
{% endblock %}


{% block article_title %}
    {{ topic_object.title }}
{% endblock %}


{% block article_title_description %}
    {{ topic_object.description }}
{% endblock %}


{% block article_pills %}
    <a target="_blank" href="https://docs.obspy.org/packages/autogen/obspy.core.stream.Stream.html"><span class="badge rounded-pill">Stream</span></a>
    <a target="_blank" href="https://docs.obspy.org/packages/autogen/obspy.core.trace.Trace.html"><span class="badge rounded-pill">Trace</span></a>
    <a target="_blank" href="https://docs.obspy.org/packages/autogen/obspy.core.stream.read.html"><span class="badge rounded-pill">read</span></a>
    <a target="_blank" href="https://docs.obspy.org/packages/autogen/obspy.core.trace.Stats.html"><span class="badge rounded-pill">stats</span></a>
{% endblock %}


{% block article_list_items %}
    <li><a href="#item-1">What is an Earthquake?</a></li>
    <li><a href="#item-2">How earthquakes are caused?</a></li>
    <li><a href="#item-3">Seismic Waves</a></li>
    <li><a class="sub-chapter" href="#item-3-1">P Waves</a></li>
    <li><a class="sub-chapter" href="#item-3-2">SH Waves</a></li>
    <li><a class="sub-chapter" href="#item-3-3">SV Waves</a></li>
    <li><a class="sub-chapter" href="#item-3-4">Love Waves</a></li>
    <li><a class="sub-chapter" href="#item-3-5">Raileigh Waves</a></li>
    <li><a href="#item-4">Earthquake concepts</a></li>
    <li><a href="#item-5">Seismic phases</a></li>
    <li><a href="#item-6">What is a seismic fault?</a></li>
    <li><a class="sub-chapter" href="#item-6-1">Strike-slip fault</a></li>
    <li><a class="sub-chapter" href="#item-6-2">Normal-slip fault</a></li>
    <li><a class="sub-chapter" href="#item-6-3">Reverse-slip fault  </a></li>
    <li><a href="#item-7">Seismic Hazards</a></li>
    <li><a href="#item-8">Elastic Rebound Theory</a></li>
{% endblock %}

{% block article_main_content %}


                    
    <div id="item-1">
        <h1>What is an Earthquake?</h1>
        <p>
            An earthquake is a natural phenomenon that occurs when there is a <i>sudden release of energy</i> in the Earth's crust, resulting in seismic 
            waves that cause the ground to shake. This shaking can range from minor tremors that are barely noticeable to violent movements that can cause 
            widespread destructions. They can have a wide range of effects, including ground shaking, surface rupture, landslides, 
            tsunamis (if the earthquake occurs under the ocean), and damage to buildings and infrastructure. The severity of an earthquake's impact depends
            on its magnitude (a measure of the energy released) and its depth, distance from the epicenter, and local geological conditions.
        </p>
        <p>
            Seismologists study earthquakes to better understand their causes, effects, and patterns. They use 
            seismographs to measure the seismic waves generated by earthquakes and analyze the data to study the Earth's interior and predict potential 
            future seismic activity. 
        </p>
    </div>
    <div id="item-2">
        <h1>How earthquakes are caused?</h1>
        <p>
            Earthquakes are primarily caused by the movement of the <i>tectonic plates</i>, which make up the Earth's 
            outer shell and float on the semi-fluid asthenosphere beneath them. These plates are in constant motion between one another due to the heat-driven
            convection currents in the Earth's mantle. When the edges of these plates interact, they can grind against each other, pull apart, or collide. 
            The stress and pressure that build up at these plate boundaries can be released suddenly and create an Earthquake. 
        </p>
        <p>
            However, earthquakes can also originate from the movement along <i>active faults</i> within a single tectonic plate. Active faults are 
            fractures in the Earth's crust that have experienced recent movement, and they can accumulate stress over time. When the 
            stress along these faults becomes too great, the rocks can slip suddenly, generating seismic waves and causing an 
            earthquake. 
        </p>
        <p>
            Lastly, other factors inducing earthquakes, are related to <i>Human activities</i>, such as mining, reservoir-induced seismicity (due to the filling of large reservoirs behind dams), and 
            hydraulic fracturing (fracking). 
        </p>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/seismology-intro-images/tectonic-plates.png') }}" >
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
    </div>
    <div id="item-3">
        <h1>Seismic Waves</h1>
        <p>
            The released energy travels through the earth material through the form of seismic waves. These waves carry valuable information about the 
            Earth's interior structure and composition. Seismic waves can be mainly categorized into two type of waves: <i>body waves</i> and 
            <i>surface waves</i>. Body waves are a type of seismic wave that travel through the Earth's interior, propagating within 
            its solid layers. There are two main types of body waves: <i>P-waves</i> (primary or compressional waves) and <i>S-waves</i> 
            (secondary or shear waves). 
        </p>   
    </div>
    <div id="item-3-1">
        <h2>P Waves</h2>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/seismic-waves-images/p-waves.gif') }}" >
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
        <p>
            Compressional or P waves are the fastest seismic waves and are the first to be detected at a seismic
            station after an earthquake event. They travel through solid and liquid materials. It's wave motion causes the particles in the rock to move 
            in the same direction as the one that the wave is propagating. This movement is in the form of compression and expansion like a spring.
        </p>
    </div>
    <div id="item-3-2">
        <h2>SH Waves</h2>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/seismic-waves-images/sh-waves.gif') }}" >
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
        <p>
            Shear waves are another type of body waves that follow the P waves, that is they travel more slowly. They can only pass through solid 
            materials, due to its wave motion that cause particles in the rock to move perpendicular to the direction of wave propagation. This 
            movement is in a side-to-side or up-and-down motion, resembling the movement of a rope shaken from side to side. S-waves are responsible 
            for the most severe shaking and structural damage after an earthuake. Due to its motion the S waves can be further classified to <i>SH</i> or
            <i>horizontal shear</i> and <i>SV</i> or <i>vertical shear</i> waves. The SH waves have a horizontal shearing motion, causing particles to 
            move side-to-side in a horizontal direction. This side-to-side motion is similar to the movement of a snake or a wriggling rope. The SV
            waves have a vertical shearing motion, causing particles to move up and down in a vertical direction.
        </p>
    </div>
    <div id="item-3-3">
        <h2>SV Waves</h2>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/seismic-waves-images/sv-waves.gif') }}" >
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
        <p>
            Shear waves are another type of body waves that follow the P waves, that is they travel more slowly. They can only pass through solid 
            materials, due to its wave motion that cause particles in the rock to move perpendicular to the direction of wave propagation. This 
            movement is in a side-to-side or up-and-down motion, resembling the movement of a rope shaken from side to side. S-waves are responsible 
            for the most severe shaking and structural damage after an earthuake. Due to its motion the S waves can be further classified to <i>SH</i> or
            <i>horizontal shear</i> and <i>SV</i> or <i>vertical shear</i> waves. The SH waves have a horizontal shearing motion, causing particles to 
            move side-to-side in a horizontal direction. This side-to-side motion is similar to the movement of a snake or a wriggling rope. The SV
            waves have a vertical shearing motion, causing particles to move up and down in a vertical direction.
        </p>
    </div>
    <div id="item-3-4">
        <h2>Love Waves</h2>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/seismic-waves-images/love-waves.gif') }}" >
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
        <p>
            <i>Surface seismic waves</i> are a type of seismic wave that travels along the Earth's surface rather than propagating through 
            its interior. These waves are produced by the complex interactions of primary (P-waves) and secondary (S-waves) waves with the 
            Earth's surface. Surface waves have a distinct rolling and swaying motion that is often likened to the movement of ocean 
            waves. They move slower than P-waves and S-waves but can have larger amplitudes, making them particularly impactful during 
            earthquakes. Surface waves are responsible for much of the ground shaking and damage experienced in seismic events. There are 
            two main types of surface waves: <i>Love waves</i>, which have a side-to-side motion resembling a snake's slither, and 
            <i>Rayleigh waves</i>, which produce an elliptical, rolling motion. 
        </p>
    </div>
    <div id="item-3-5">
        <h2>Raileigh Waves</h2>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/seismic-waves-images/rayleigh-waves.gif') }}" >
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
        <p>
            <i>Surface seismic waves</i> are a type of seismic wave that travels along the Earth's surface rather than propagating through 
            its interior. These waves are produced by the complex interactions of primary (P-waves) and secondary (S-waves) waves with the 
            Earth's surface. Surface waves have a distinct rolling and swaying motion that is often likened to the movement of ocean 
            waves. They move slower than P-waves and S-waves but can have larger amplitudes, making them particularly impactful during 
            earthquakes. Surface waves are responsible for much of the ground shaking and damage experienced in seismic events. There are 
            two main types of surface waves: <i>Love waves</i>, which have a side-to-side motion resembling a snake's slither, and 
            <i>Rayleigh waves</i>, which produce an elliptical, rolling motion. 
        </p>
    </div>
    <div id="item-4">
        <h1>Earthquake concepts</h1>
        <p>
            Seismic waves are generated at a <i>source</i>, <i>focus</i> or <i>hypocenter</i>, which can be natural, such as an earthquake or artificial, such as an explosion. 
            The generated waves travel through the earth medium and are recorded at a <i>receiver</i>. The receiver is known as the <i>seismometer</i>
            and the record of the ground motion at the seismometer is called the <i>seismogram</i>. A seismogram, contains information 
            about both the source and the medium. The earth <i>medium</i>, or subsurface, refers to the material through which seismic waves travel, 
            which can include rock layers, soil, and fluids.
        </p>
        <p>
            If the origin time when the waves left the source is known, their arrival time at the receiver gives the <i>travel time</i> required
            to pass through the medium. This time gives information about the speed at which they traveled and generally about the physical 
            properties of the medium. In addition because the amplitude of the waves are affected by the medium, the signals observed on 
            seismograms provide additional information about the portion of the earth that the waves traveled through.
        </p>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/base-auth/source-medium-station.png') }}">
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
        <p>
            The seismic waves can be highly affected by the <i>underground geology</i>, a phenomenon known as <i>site effect</i>. Underground 
            geology has to do with the composition and the arrangement of rock formations beneath the Earth's surface. It plays a crucial role 
            in determining how seismic waves propagate and reflect, helping scientists interpret subsurface features and identify potential 
            hazards.
        </p>
        <p>
            The distance between the source and the station that recorded the earthquake is known as <i>Hypocentral Distance</i>. It provides 
            information about the direct path that seismic waves take to reach an observation point. On the other hand, 
            <i>Epicentral Distance</i> measures the distance from the <i>epicenter</i>, which is the point directly above the hypocenter on the 
            Earth's surface, to the station. These distances are essential in assessing the intensity and impact of seismic events, aiding in 
            understanding their effects on structures and communities.
        </p>
    </div>
    <div id="item-5">
        <h1>Seismic phases</h1>
        <p>
            In addition to the recorded direct P and S waves, there are other related waves that arise from the interactions of the seismic 
            waves with the various layers and boundaries within the Earth. These phases play a crucial role in unraveling the Earth's 
            intricate internal structure. For instance, there is a phase of the compressional (P) waves that can occur after the direct P wave 
            reflects the surface and then is recorded at the receiver (PP). Another, happens when then P wave reflects the outer core and then 
            end up at the receiver (PcP) or when the P wave travels through the mantle, the outer and the inner core and then ends up at the 
            surface (PKIKP). Similarly, there are also the direct shear (S) waves and its phases. For example the S wave reflected off the
            surface of the earth and then recorded has a phase of SS, analogous to PP.
        </p>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/seismology-intro-images/seismic-phases.png') }}">
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
        <p>
            These seismic phases serve as invaluable tools for seismologists, enabling them to decipher the composition, densities, and 
            interfaces of the Earth's deep layers. By scrutinizing the arrival times and behaviors of these phases, scientists embark on a 
            journey to fathom the enigmatic geology hidden beneath our feet, contributing to our understanding of the Earth's complex and 
            dynamic nature.
        </p>
    </div>
    <div id="item-6">
        <h1>What is a seismic fault?</h1>
        <p>
            Faults are the main source of the earthquakes. During a fault rupture, one side of the fault moves with respect to the other 
            side. The upper or overlying block along the fault plane (assuming that a fault is a planar surface) is called the 
            <i>hanging wall</i> and the block below is called the <i>footwall</i>. According to H. Reid, the fault rupture follows the 
            elastic rebound theory that is the friction between the two blocks prevents them from sliping until the strain is so large 
            that there is a sudden and steep movement that causes the earthquake.
        </p>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/fault-type-images/fault-type-general.png') }}" >
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
        <p>
            To describe the geometry of a fault, we need to assume that a fault is a planar surface across which relative motion accurs 
            during an earthquake. The coordinate axes used to describe the fault are the <code>X1</code> axis that is called the 
            <i>strike</i> of the fault (the instersection of the fault plane with the surface), the <code>X2</code> axis that is 
            perpedicular to the <code>X1</code> axis and <code>X3</code> axis and the <code>x3</code> axis that it points upward and is 
            perpendicular to the other two. The fault geometry can be completely described using two different coordinate systems: 
            a) <i>n</i>, <i>d</i> and b) <i>φf</i>, <i>δ</i>, <i>λ</i>. The first coordinate system uses the <i>normal</i> vector on the 
            fault plane (n) and the perpendicular to the normal vector, the <i>slip</i> vector, that shows the direction of the hanging wall
            block with respect to the footwall. The second one, consists of the <i>dip angle</i> <code>δ</code>, that is the orientation of 
            the fault with respect to the surface, the counterclockwise measured <i>slip angle</i> <code>λ</code> measured from the 
            <code>X1</code> axis to the direction of motion and lastly the <i>fault strike</i> <code>φf</code> that is the angle measured 
            from the clockwise from the north to the <code>X1</code> axis.
        </p>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/fault-type-images/fault-geometry.png') }}" >
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
        <p>
            We can categorize the faults into three categories, according to the <i>orientation</i> of the fault plane and the 
            <i>direction</i> of the slip along the plane. Faults which move along the direction of the dip plane are <i>dip-slip</i> faults 
            and described as either <i>normal</i> or <i>reverse</i> (<i>thrust</i>), depending on their motion. Faults which move 
            horizontally are known as <i>strike-slip</i> faults and are classified as either <i>right-lateral</i> or <i>left-lateral</i>. 
            Faults which show both dip-slip and strike-slip motion are known as <i>oblique-slip</i> faults.
        </p>
    </div>
    <div id="item-6-1">
        <h2>Strike-slip fault</h2>
        <p>
            The two sides of the fault, slide horizontally to each other. The slip can be <i>left lateral</i> or <i>right lateral</i> if the slip angle is 0 or 180 degrees respectively
        </p>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/fault-type-images/strike-slip-fault.gif') }}" >
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
    </div>
    <div id="item-6-2">
        <h2>Normal-slip fault</h2>
        <p>
            This describes a <i>dip-slip</i> faulting. When the slip angle is 270 degrees the hanging wall slides downward causing normal faulting
        </p>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/fault-type-images/strike-slip-fault.gif') }}" >
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
    </div>
    <div id="item-6-3">
        <h2>Reverse-slip fault</h2>
        <p>
            This describes also a <i>dip-slip</i> faulting. When the slip angle is 90 degrees, the hanging wall slides upward yielding reverse or thrust faulting
        </p>
        <div class="figure-container">
            <figure>
                <img src="{{ url_for('static', filename='img/fault-type-images/strike-slip-fault.gif') }}" >
                <figcaption>Recordings or traces of the MiniSEED file with components E, N, Z</figcaption>
            </figure>
        </div>
    </div>
    <div id="item-7">
        <h1>Seismic Hazards</h1>
        <p>
            One of the foremost seismic hazard is the <i>shaking of the ground</i>.  When an earthquake happens, waves spread out from the source and move quickly through the Earth's outer layer. When these 
            waves reach the surface, they cause the ground to shake, which can last a few seconds or even minutes. How much shaking occurs 
            at a specific place depends on how big the earthquake is, where it happened, and the characteristics of that place. If an 
            earthquake is large and close by, the shaking can be really strong and cause a lot of damage. Actually, most of the problems 
            caused by earthquakes come from this shaking. If there's not much shaking, the other issues related to earthquakes might not 
            be a big concern. But when the shaking is powerful, it can lead to various problems like landslides or collapsing 
            buildings.
        </p>
        <p>
            Undoubtedly, the most striking and unforgettable depictions of earthquake devastation are the <i>structural hazards</i>. 
            From the anticipated collapse of poorly fortified masonry and adobe buildings, where numerous individuals in less developed 
            regions reside, to the unexpected ruination of more contemporary constructions, structural impairment remains a primary factor 
            contributing to both loss of life and financial setbacks in numerous seismic events. Yet, it's important to note that complete 
            structural collapse isn't a prerequisite for causing harm and fatalities. In various earthquakes, casualties have resulted 
            from objects falling—such as exterior brick facades and ledges, as well as heavy artworks and shelving within buildings.
        </p>
        <p>
            Some of the most remarkable instances of earthquake-related destruction have taken place when soil deposits lose their 
            solidity and seem to transform into fluid-like substances. This occurrence, known as <i>liquefaction</i>, entails a 
            significant reduction in the soil's strength, often to the extent that it's incapable of providing support to structures or 
            retaining stability. Liquefaction is primarily observed in saturated soils, making it most prevalent in close proximity to 
            rivers, bays, and other water bodies. The term "liquefaction" actually encompasses several connected phenomena. For instance, 
            flow failures can transpire when the soil's strength dips below the threshold required for maintaining stability in stationary 
            conditions. These flow failures result from the influence of gravitational forces at rest, and they can lead to extensive 
            displacements.
        </p>
        <p>
            Powerful earthquakes frequently trigger <i>landslides</i>. While most of these landslides are minor in scale, seismic events 
            have also led to substantial slides. Regrettably, in certain instances, landslides triggered by earthquakes have completely 
            covered towns and villages. More frequently, earthquake-triggered landslides cause harm by demolishing structures or 
            disrupting bridges and other constructed structures. Numerous landslides induced by earthquakes are a consequence of 
            liquefaction occurrences, but many others merely depict the collapse of slopes that were barely stable when at rest.
        </p>
        <p>
            The rapid vertical movements of the seafloor due to fault ruptures during earthquakes can result in the formation of <i>tsunamis</i>, 
            which are lengthy sea waves with extended periods. When in the open ocean, tsunamis cover vast distances at significant 
            speeds, yet they are challenging to detect. Their usual height remains under 1 meter, while their wavelengths can span several 
            hundred kilometers. However, as a tsunami nears the coastline, the reduction in water depth causes its speed to decrease and 
            the wave's height to surge. In specific coastal regions, the seabed's configuration might amplify the wave, giving rise to an 
            almost perpendicular wall of water that surges far inland, causing catastrophic devastation. When earthquakes generate waves 
            in enclosed water bodies, these are referred to as <i>seiches</i>. Typically brought about by seismic waves with long periods that 
            match the natural oscillation period of water within a lake or reservoir, seiches can manifest over extensive distances from 
            the earthquake's source.
        </p>
    </div>
    <div id="item-8">
        <h1>Elastic Rebound Theory</h1>
        <p>
            The Elastic Rebound Theory is a fundamental concept in seismology that explains the underlying mechanism 
            of how earthquakes occur due to the build-up and sudden release of stress along geological fault lines. 
            This theory was developed by American geologist Harry Fielding Reid in the early 20th century and has 
            since become a cornerstone in our understanding of seismic activity. The key points of the theory are:
        </p>

        <ol class="my-5">
            <li>
                <strong>Accumulation of Stress:</strong> In the Earth's crust, tectonic plates are constantly 
                moving. However, they don't move smoothly; they get stuck at their boundaries due to friction and
                the resistance of the rocks to deformation. As they continue to move, stress accumulates along 
                these locked faults.
            </li>
            <li>
                <strong>Elastic Deformation:</strong> The accumulated stress causes the rocks on either side of the 
                fault to deform elastically. This means they are stretched or compressed like a spring, storing 
                potential energy.
            </li>
            <li>
                <strong>Breaking Point:</strong> Eventually, the stress reaches a critical point where the strength 
                of the rocks is exceeded, and they can no longer withstand the strain. At this point, they rupture 
                or break along the fault.
            </li>
            <li>
                <strong>Release of Energy:</strong> When the rocks break, they suddenly release the stored elastic
                energy. This energy radiates outward in the form of seismic waves, causing the ground to shake, 
                resulting in an earthquake.
            </li>
            <li>
                <strong>Recovery and Repeating:</strong> After the earthquake, the rocks on either side of the fault 
                have moved to a new, more stable position. They are no longer locked and can begin accumulating 
                stress again, starting the cycle anew.
            </li>
        </ol>

        <p>The Elastic Rebound Theory helps seismologists understand why earthquakes happen and how they are 
            connected to the movement of tectonic plates. It also provides insights into earthquake prediction and 
            hazard assessment, as scientists can study the build-up of stress along faults to estimate the 
            likelihood of future seismic events.
        </p>
    </div>
{% endblock %}


