---
import Img from "../../components/ui/Img.astro";
import PageTitle from "../../components/utils/PageTitle.astro";
import H2 from "../../components/markdowns/H2.astro";
import H3 from "../../components/markdowns/H3.astro";
import P from "../../components/markdowns/Paragraph.astro";
import UL from "../../components/markdowns/UnorderedList.astro";
import LI from "../../components/markdowns/ListItem.astro";
import A from "../../components/markdowns/Anchor.astro";
import CodeBlock from "../../components/markdowns/CodeBlock.astro";
import CustomImage from "../../components/markdowns/CustomImage.astro";

const { selectedArticle } = Astro.props;
---

<Img
  src={selectedArticle.image_src}
  alt={selectedArticle.image_alt}
  class="block w-20 mx-auto"
/>
<PageTitle class="text-center" text={selectedArticle.title} />
<div class="mt-24">
  <selectedArticle.markdown.Content
    components={{
      ...selectedArticle.markdown.components,
      h2: H2,
      h3: H3,
      p: P,
      ul: UL,
      li: LI,
      a: A,
      code: CodeBlock,
      img: CustomImage,
    }}
  />
</div>
