---
import SocialMedia from "../utils/SocialMedia.astro";
import PageTitle from "../utils/PageTitle.astro";
import PageSubTitle from "../utils/PageSubTitle.astro";
import EyeBrowText from "../utils/EyeBrowText.astro";
import ContactForm from "../contact/ContactForm.jsx";
import SeismicRecordSVG from "../../assets/images/pages/seismic-record.svg";
---

<div class="grid grid-cols-1 lg:grid-cols-2 justify-center gap-8">
  <div class="flex flex-col gap-4 items-stretch">
    <EyeBrowText text="GET IN TOUCH" class="self-center lg:self-start" />
    <PageTitle
      class="text-center lg:text-start"
      text="We’d Love to Hear From You"
    />
    <PageSubTitle
      class="text-center lg:text-start"
      text="Connect with us and share your suggestions and improvements. Your feedback matters."
    />
    <SocialMedia />
    <ContactForm client:load />
  </div>
  <div>
    <SeismicRecordSVG class="h-full max-w-full object-contain hidden lg:grid" />
  </div>
</div>
