---
import HeroSection from "../home/HeroSection.astro";
import ArticleCardsSection from "../home/ArticleCardsSection.astro";
import ObspySection from "../home/ObspySection.astro";
import ToolsSection from "../home/ToolsSection.astro";
import Section from "../utils/Section.astro";
---

<HeroSection />
<Section>
  <ArticleCardsSection />
</Section>
<Section>
  <ObspySection />
</Section>
<Section>
  <ToolsSection />
</Section>
