{% extends 'base-auth.html' %}

{% block content %}
    <div class="p-3">
        <p class="display-5 text-center mb-5 mt-3">Change Password</p>
        <form action="{{ url_for('BP_forgotpassword.set_new_password', user_email=user_email) }}" method="POST" novalidate>
            {{ form['new_password'].label(class="form-control-label") }}
            {% if form['new_password'].errors %}
                {{ form['new_password'](class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form['new_password'].errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form['new_password'](class="form-control form-control-md") }}
            {% endif %}

            {{ form['confirm_new_password'].label(class="form-control-label") }}
            {% if form['confirm_new_password'].errors %}
                {{ form['confirm_new_password'](class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form['confirm_new_password'].errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form['confirm_new_password'](class="form-control form-control-md") }}
            {% endif %}
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-5">Change password</button>
            </div>
        </form>
    </div>

                    
{% endblock %}
