---
import Symbol from "../ui/Symbol.astro";
import LinkTag from "../ui/LinkTag.astro";
import { fastapiEndpoints } from "../../assets/data/static";
---

<div class="my-16 mb-16 max-w-3/4 lg:max-w-1/2 mx-auto text-center text-sm">
  <p>
    Don&apos;t have a seismic data file ? Click below to download a miniseed
    sample file, to experiment with the tools.
  </p>
  <div class="flex gap-2 items-center justify-center mt-4">
    <Symbol name="file-download" class="flex-shrink-0" />
    <LinkTag href={fastapiEndpoints["DOWNLOAD-TEST-FILE"]} style="info">
      Download Sample MSEED File
    </LinkTag>
  </div>
</div>
