---
const { text, class: className = "", ...attrs } = Astro.props;
const globalClass = `inline-block px-4 py-2 bg-base-200 rounded-full text-xs text-base-content/80 uppercase ${className}`;
---

<p class={globalClass} {...attrs}>
  {text}
</p>
