---
const { text, class: className = "", ...attrs } = Astro.props;
const globalClass = `text-primary text-3xl md:text-5xl font-semibold ${className}`;
---

<h2 class={globalClass} {...attrs}>
  {text}
</h2>
