---
import Symbol from "./Symbol.astro";
import { socialMediaInfo } from "../../assets/data/static";
---

<ul class="flex flex-row justify-center items-center gap-2">
  {
    socialMediaInfo.map((app) => (
      <li>
        <a
          href={app.url}
          target="_blank"
          class={`btn btn-circle p-3 text-white/50 border bg-base-300 hover:text-white hover:bg-primary`}
        >
          <Symbol name={app.icon} class="size-5" />
        </a>
      </li>
    ))
  }
</ul>
