{% extends 'base-auth.html' %}

{% block content %}
    <div class="p-3">
        <p class="display-5 text-center mb-5 mt-3">Change Password</p>
        <form action="{{ url_for('auth.set_new_password', user_email=user_email) }}" method="POST">
            <label for="new-password-input" class="form-label">New password:</label>
            <input type="password" class="form-control" id="new-password-input" name="new-password-input">
            <label for="new-password-confirmation-input" class="form-label mt-4">Confirm new password:</label>
            <input type="password" class="form-control" id="new-password-confirmation-input" name="new-password-confirmation-input">
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-5">Change password</button>
            </div>
        </form>
    </div>

                    
{% endblock %}
