{% extends 'base.html' %}

{% block title %}
    {{ e.code }}
{% endblock %}


{% block content %}
    <div class="row justify-content-center my-5">
        <div class="col-12 col-md-7 text-center">
            <h1 class="fs-2 text-center">You shall not pass!!</h1>
            <p class="fs-3 text-center text-muted mt-4">You must authenticate to access this page!!</p>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-9 col-md-7 col-lg-5 col-xl-4 col-xxl-4 text-center">
            <img src="{{ url_for('static', filename='img/you-shall-not-pass.jpg') }}" alt="page not found minions" class="img-fluid">
        </div>
    </div>
{% endblock %}
