.anchor-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.anchor-underline::before {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -2px;
    height: 2px;
    border-bottom: 2px solid red;
    transition: right 0.3s, left 0.3s;
}

.anchor-underline:hover::before {
    right: 0;
    left: 0;
}

#main-index-background-image {
    background-image: url("/static/img/index-images/main-background-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-badge:hover {
    transform: scale(1.1);
}

.home-badge {
    width: 150px;
}

.bg-light2 {
    background-color: #f2f2f2;
}

.bg-dark2 {
    background-color: #391932;
}

.bg-navy {
    background-color: #27285C;
}

#interactive-example-section li:hover {
    background-color: #212529 !important;
    color: #54B4D3 !important;
}

#all-topics-left-menu {
    width: 20%;
}

#all-topics-container {
    margin-left: calc(20%)
}

#all-topics-card {
    transition: transform 0.5s;
}

#all-topics-card:hover {
    transform: rotate(3deg) scale(1.1);
    border: 3px solid black;
}

#arrival-picking-menu button, select {
    height: 34px;
}

#picking-left-filter, #picking-right-filter {
    width:120px;
    display: inline;
}

#picking-graph-container {
    height: 480px;
}

#fourier-spectra-start-by-upload-container {
    height: 380px;
    position: relative;
}

#signal-processing-start-by-upload-container {
    height: 450px;
    position: relative;
}

.signal-processing-icon {
    width: 30px;
    height: 30px;
}

#signal-processing-option-menu {
    font-size: 15px;
}

.bg-pink {background-color: #ff80ed}
.bg-light-red1 {background-color: #fff2ed}
.bg-light-red2 {background-color: #ffcbb9}
.bg-light-red3 {background-color: #ffa584}
.bg-light-red3 {background-color: #ff7f50}
.bg-light-yellow1 {background-color: #ffffef}
.bg-light-yellow2 {background-color: #ffffc1}
.bg-light-yellow3 {background-color: #ffff93}
.bg-light-yellow4 {background-color: #FFFF66}
.bg-very-light-yellow1 {background-color: #fafffa}
.bg-very-light-yellow2 {background-color: #e9ffe6}
.bg-very-light-yellow3 {background-color: #d7ffd2}
.bg-light-blue1 {background-color: #eaf4ff}
.bg-light-blue2 {background-color: #add6ff}
.bg-light-blue3 {background-color: #70b7ff}
.bg-light-blue4 {background-color: #3399ff}
.bg-light-grey1 {background-color: #fcfcfc}
.bg-light-grey2 {background-color: #f5f5f5}
.bg-light-grey3 {background-color: #eeeeee}
.bg-light-grey4 {background-color: #e7e7e7}
.bg-orange {background-color: #FFA500}
.bg-dark-brown {background-color: #990000}
.bg-tomato {background-color: #FF6347}
.bg-sky {background-color: #82CAFF}
.bg-iceberg {background-color: #56A5EC}
.bg-deepteal {background-color: #033E3E}
.bg-royalblue {background-color: #4169e1}
.bg-beige {background-color: #f5f5dc}


/* ----------------------  OBSPY TUTORIAL -------------------------*/

#obspy-pills-container span {
    display: inline-block;
    width: 75px;
    transition: transform 0.3s, background-color 0.2s, color 0.2s;
    background-color: rgb(169, 220, 250);
    color: rgb(47, 45, 45);
}

#obspy-pills-container span:hover {
    transform: scale(1.13) translateY(-6px);
    background-color: rgb(47, 45, 45);
    color: rgb(169, 220, 250);
}

.obspy-function-anchor {
    color: rgb(249, 95, 113);
    font-weight: 350;
    text-decoration: none;
}

.obspy-reference-anchor {
    color: rgb(55, 55, 247);
    font-weight: 350;
    text-decoration: none;
}


.input-code-block {
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
    border: black 0.2px solid;
    padding: 10px;
    margin: 30px 0px;
    border-radius:5px;


}

.output-code-block {
    background-color: #3e3e3e;
    color: rgb(210, 210, 210);
    padding: 10px;
    margin: 30px 0px;
    border-radius:5px;

}

.comment {
    color: rgba(166, 167, 167, 0.961);
}

.function {
    background-color: #414141;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
   
    color: #fdfdfd;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 500;
    line-height: 1;
    padding: 2px 5px;
    white-space: nowrap;
}

.reference {
    color: #d23871;
    font-weight: 500;
}



.indent {
    margin-left: 50px;
}

pre {
    white-space: pre-line;
    margin: 0px;
}

.python-color1 {
    color: rgb(142, 1, 1);
}

.python-color2 {
    color: blue;
}


/* ########################### seismology introduction page ####################### */

#seismo-info-main-article {
    overflow-y: scroll; 
    height:90vh;
}

#seismo-info-main-article p {
    text-indent: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* HOME */


#site-effect-container-div .paragraph-text {
    text-indent: 30px;
    margin: 0px;
    text-align: justify;
    
}

#article-main-title {
    margin-bottom: 150px;
}

#article-cards-container .card:hover {
    box-shadow: 0 0 !important;
}

.author-ref {
    color:rgb(55, 55, 247);
    font-style: italic;
}

#seismology-intro-container p {
    text-indent: 30px;
    margin: 0px;
    text-align: justify;
}