.anchor-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.anchor-underline::before {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -2px;
    height: 2px;
    border-bottom: 2px solid red;
    transition: right 0.3s, left 0.3s;
}

.anchor-underline:hover::before {
    right: 0;
    left: 0;
}

#main-index-background-image {
    background-image: url("/static/img/index-images/main-background-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-badge:hover {
    transform: scale(1.1);
}

.home-badge {
    width: 150px;
}

.bg-light2 {
    background-color: #f2f2f2;
}

.bg-dark2 {
    background-color: #391932;
}

.bg-navy {
    background-color: #27285C;
}

#interactive-example-section li:hover {
    background-color: #212529 !important;
    color: #54B4D3 !important;
}

#all-topics-left-menu {
    width: 20%;
}

#all-topics-container {
    margin-left: calc(20%)
}

#all-topics-card {
    transition: transform 0.5s;
}

#all-topics-card:hover {
    transform: rotate(3deg) scale(1.1);
    border: 3px solid black;
}

#arrival-picking-menu button, select {
    height: 34px;
}

#picking-left-filter, #picking-right-filter {
    width:120px;
    display: inline;
}

#picking-graph-container {
    height: 480px;
}