#badge-container span {
    width: 70px;
}

#badge-container span:hover {
    transform: rotate(10deg);
}


.input-code-block {
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
    border: black 0.2px solid;
    padding: 10px;
    margin: 30px 0px;
    border-radius:5px;
}

.output-code-block {
    background-color: #3e3e3e;
    color: rgb(210, 210, 210);
    padding: 10px;
    margin: 30px 0px;
    border-radius:5px;
}

.comment {
    color: rgba(166, 167, 167, 0.961);
}

.function {
    background-color: #414141;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
   
    color: #fdfdfd;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 500;
    line-height: 1;
    padding: 2px 5px;
    white-space: nowrap;
}

.reference {
    color: #d23871;
    font-weight: 500;
}

.reference-link {

}

.indent {
    margin-left: 50px;
}

pre {
    white-space: pre-line;
    margin: 0px;
}

.python-color1 {
    color: rgb(142, 1, 1);
}

.python-color2 {
    color: blue;
}

