---
import HeroTitle from "../home/HeroTitle.astro";
import HeroSubTitle from "../home/HeroSubTitle.astro";
import LinkTag from "../ui/LinkTag.astro";
import Img from "../utils/Img.astro";
import SeismicRecordSVG from "../../assets/images/pages/seismic-record.svg";
---

<div class="min-h-screen flex flex-row items-center justify-center relative">
  <Img
    alt="seismic wave"
    src={SeismicRecordSVG}
    class="absolute start-0 top-0 w-full opacity-20 -z-10"
  />
  <div class="spacing-y-4 max-w-5xl mx-auto">
    <HeroTitle text="A JOURNEY INTO SEISMOLOGY" />
    <HeroSubTitle
      text=`Discover various seismic articles, interact with tools, and deepen
            your understanding`
      `
      class="text-center py-6 font-normal text-lg md:text-3xl"
    />
    <div class="text-center mt-8">
      <LinkTag variant="button" href="/articles">Get started</LinkTag>
    </div>
  </div>
</div>
