{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock %}



{% block content %}
    <div class="pt-5 user-account-container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-6 col-xxl-4 text-center shadow-lg p-5 rounded bg-white">
                <p class="display-5 text-center text-dark mb-5 mt-3">Change Password</p>
                <form action="{{ url_for('BP_user_account.change_password') }}" method="POST" novalidate>
                    <div class="mb-3">
                        {{ form["password"].label(class="form-control-label") }}
                        {% if form["password"].errors %}
                            {{ form["password"](class="form-control form-control-md is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form["password"].errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form["password"](class="form-control form-control-md") }}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form["new_password"].label(class="form-control-label") }}
                        {% if form["new_password"].errors %}
                            {{ form["new_password"](class="form-control form-control-md is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form["new_password"].errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form["new_password"](class="form-control form-control-md") }}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form["confirm_new_password"].label(class="form-control-label") }}
                        {% if form["confirm_new_password"].errors %}
                            {{ form["confirm_new_password"](class="form-control form-control-md is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form["confirm_new_password"].errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form["confirm_new_password"](class="form-control form-control-md") }}
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-5">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}