---
import Section from "../../components/utils/Section.astro";
import Container from "../../components/utils/Container.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import ArticlesPage from "../../components/pages/ArticlesPage.astro";
const pageTitle = "Explore our articles";
---

<MainLayout pageTitle={pageTitle}>
  <Section>
    <Container>
      <ArticlesPage />
    </Container>
  </Section>
</MainLayout>
