{% extends 'base.html' %}

{% block title %}
admin index
{% endblock %}



{% block content %}
<div class="py-4">
    <div class="container-lg">
        <h1 class="display-3 py-5 text-center">Welcome to the admin page</h1>
    
    
        <div class="row justify-content-center align-items-center my-5">
            <div class="col-8 col-md-7 text-center">
                <div class="shadow-lg text-center py-5 rounded bg-dark">
                    <h2 class="text-center text-light fs-3 fw-semibold mb-5">Topic table</h2>
                    <div class="row justify-content-center align-items-center gy-2">
                        <div class="col-7 col-md-auto">
                            <a class="btn btn-info" style="width:110px;" href="{{ url_for('BP_admin.show_all_topics') }}">show topics</a>
                        </div>
                        <div class="col-7 col-md-auto">
                            <a class="btn btn-success" style="width:110px;" href="{{ url_for('BP_admin.add_topic_template') }}">add topic</a>
                        </div>
                        <div class="col-7 col-md-auto">
                            <a class="btn btn-danger" style="width:110px;" href="{{ url_for('BP_admin.reset_topics') }}">reset topics</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center my-5">
            <div class="col-8 col-md-7 text-center">
                <div class="shadow-lg text-center py-5 rounded bg-dark">
                    <h2 class="text-center text-light fs-3 fw-semibold mb-5">Data Files Folder</h2>
                    <div class="row justify-content-center align-items-center gy-2">
                        <div class="col-9 col-md-auto">
                            <a class="btn btn-danger" style="width:150px;" href="{{ url_for('BP_admin.clear_data_files') }}">clear data_files</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}