{% extends 'base.html' %}


{% block content %}
    <div class="container-lg">
        <div class="py-4">
            <a href="{{ url_for('BP_admin.add_topic_template') }}" class="btn btn-primary">add new topic</a>
            <a href="{{ url_for('BP_admin.admin_index') }}" class="btn btn-success ms-4">admin index</a>
        </div>
            <div class="bg-dark text-light p-4">
            <div class="row justify-content-center align-items-center fs-3 text-light rounded">
                <div class="col-1 text-center">
                    <p>id</p>
                </div>
                <div class="col-2 text-center">
                    <p>title</p>
                </div>
                <div class="col-3 text-center">
                    <p>description</p>
                </div>
                <div class="col-2 text-center">
                    <p>image name</p>
                </div>
                <div class="col-2 text-center">
                    <p>type</p>
                </div>
                <div class="col-2 text-center">
                    <p>template name</p>
                </div>
            </div>
            {% for topic in topics %}
                <hr class="border-2 border-top">
                <div class="row justify-content-center align-items-center fs-5 bg-info text-dark rounded">
                    <div class="col-12 col-lg-1 text-center">
                        <p style="overflow-x: auto; width:100%; white-space: nowrap;">{{ topic['id'] }}</p>
                    </div>
                    <div class="col-12 col-lg-2 text-center">
                        <p style="overflow-x: auto; width:100%; white-space: nowrap;">{{ topic['title'] }}</p>
                    </div>
                    <div class="col-12 col-lg-3 text-center">
                        <p style="max-height: 100px;" class="overflow-auto">{{ topic['description'] }}</p>
                    </div>
                    <div class="col-12 col-lg-2 text-center">
                        <p style="overflow-x: auto; width:100%; white-space: nowrap;">{{ topic['image_name'] }}</p>
                    </div>
                    <div class="col-12 col-lg-2 text-center">
                        <p style="overflow-x: auto; width:100%; white-space: nowrap;">{{ topic['type'] }}</p>
                    </div>
                    <div class="col-12 col-lg-2 text-center">
                        <p style="overflow-x: auto; width:100%; white-space: nowrap;">{{ topic['template_name'] }}</p>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-5 my-3">
                    <div class="col-auto text-center">
                        <a type="submit" class="btn btn-success" href="{{ url_for('BP_admin.edit_topic_template', topic_id = topic['id']) }}">edit</a>
                    </div>
                    <div class="col-auto text-center">
                        <a type="submit" class="btn btn-danger"  href="{{ url_for('BP_admin.delete_topic', topic_id = topic['id']) }}">delete</a>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}