---
import "../styles/global.css";
import Head from "../components/root/Head.astro";
import Header from "../components/root/Header.astro";
import Footer from "../components/root/Footer.astro";
import ConsentBanner from "../components/root/ConsentBanner.astro";
import "@fontsource-variable/roboto";
const { pageTitle } = Astro.props;
---

<html lang="en" data-theme="forest" class="font-display text-lg font-light">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css"
    />
    <!-- Google tag (gtag.js) -->
    <script
      data-category="analytics"
      is:inline
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-YNYD1NBR7E"></script>

    <script data-category="analytics" is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-YNYD1NBR7E");
    </script>

    <Head pageTitle={pageTitle} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script type="module" src="/src/scripts/cookieconsent-config.js"></script>
  </body>
</html>
<!-- 
<script>
  const acceptBtn = document.getElementById("consent-accept");
  const declineBtn = document.getElementById("consent-decline");
  const banner = document.getElementById("cookie-consent-banner");
  const consentStorageKey = "consentGranted";
  const consent = localStorage.getItem(consentStorageKey);

  if (!consent) {
    banner?.classList.remove("hidden");
  } else if (consent === "true") {
    acceptConsent();
  }

  function acceptConsent() {
    localStorage.setItem(consentStorageKey, "true");
    hideBanner();
    function gtag() {
      dataLayer.push(arguments);
    }

    gtag("consent", "update", {
      ad_user_data: "granted",
      ad_personalization: "granted",
      ad_storage: "granted",
      analytics_storage: "granted",
    });
  }

  function declineConsent() {
    localStorage.setItem(consentStorageKey, "false");
    hideBanner();
  }

  function hideBanner() {
    banner?.classList.add("hidden");
  }

  acceptBtn?.addEventListener("click", acceptConsent);
  declineBtn?.addEventListener("click", declineConsent);

  var gtagScript = document.createElement("script");
  gtagScript.async = true;
  gtagScript.src = "https://www.googletagmanager.com/gtag/js?id=G-YNYD1NBR7E";

  var firstScript = document.getElementsByTagName("script")[0];
  firstScript.parentNode.insertBefore(gtagScript, firstScript);
</script> -->
